/*ony for one corner, use this variable several time for other corners*/
.pi-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.pi-container:before,
.pi-container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.pi-container:after {
  clear: both;
}
.pi-row {
  margin-left: -15px;
  margin-right: -15px;
}
.pi-row:before,
.pi-row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.pi-row:after {
  clear: both;
}
.pi-show-grid [class^="pi-col-"] {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.11);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.pi-col-3xs-1,
.pi-col-3xs-2,
.pi-col-3xs-3,
.pi-col-3xs-4,
.pi-col-3xs-5,
.pi-col-3xs-5-cell,
.pi-col-3xs-6,
.pi-col-3xs-7,
.pi-col-3xs-8,
.pi-col-3xs-9,
.pi-col-3xs-10,
.pi-col-3xs-11,
.pi-col-3xs-12,
.pi-col-2xs-1,
.pi-col-2xs-2,
.pi-col-2xs-3,
.pi-col-2xs-4,
.pi-col-2xs-5,
.pi-col-2xs-5-cell,
.pi-col-2xs-6,
.pi-col-2xs-7,
.pi-col-2xs-8,
.pi-col-2xs-9,
.pi-col-2xs-10,
.pi-col-2xs-11,
.pi-col-2xs-12,
.pi-col-xs-1,
.pi-col-xs-2,
.pi-col-xs-3,
.pi-col-xs-4,
.pi-col-xs-5,
.pi-col-xs-5-cell,
.pi-col-xs-6,
.pi-col-xs-7,
.pi-col-xs-8,
.pi-col-xs-9,
.pi-col-xs-10,
.pi-col-xs-11,
.pi-col-xs-12,
.pi-col-sm-1,
.pi-col-sm-2,
.pi-col-sm-3,
.pi-col-sm-4,
.pi-col-sm-5,
.pi-col-sm-5-cell,
.pi-col-sm-6,
.pi-col-sm-7,
.pi-col-sm-8,
.pi-col-sm-9,
.pi-col-sm-10,
.pi-col-sm-11,
.pi-col-sm-12,
.pi-col-md-1,
.pi-col-md-2,
.pi-col-md-3,
.pi-col-md-4,
.pi-col-md-5,
.pi-col-md-5-cell,
.pi-col-md-6,
.pi-col-md-7,
.pi-col-md-8,
.pi-col-md-9,
.pi-col-md-10,
.pi-col-md-11,
.pi-col-md-12,
.pi-col-lg-1,
.pi-col-lg-2,
.pi-col-lg-3,
.pi-col-lg-4,
.pi-col-lg-5,
.pi-col-lg-5-cell,
.pi-col-lg-6,
.pi-col-lg-7,
.pi-col-lg-8,
.pi-col-lg-9,
.pi-col-lg-10,
.pi-col-lg-11,
.pi-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.pi-grid-small-margins {
  margin-left: -10px;
  margin-right: -10px;
}
.pi-grid-small-margins .pi-col-3xs-1,
.pi-grid-small-margins .pi-col-3xs-2,
.pi-grid-small-margins .pi-col-3xs-3,
.pi-grid-small-margins .pi-col-3xs-4,
.pi-grid-small-margins .pi-col-3xs-5,
.pi-grid-small-margins .pi-col-3xs-5-cell,
.pi-grid-small-margins .pi-col-3xs-6,
.pi-grid-small-margins .pi-col-3xs-7,
.pi-grid-small-margins .pi-col-3xs-8,
.pi-grid-small-margins .pi-col-3xs-9,
.pi-grid-small-margins .pi-col-3xs-10,
.pi-grid-small-margins .pi-col-3xs-11,
.pi-grid-small-margins .pi-col-3xs-12,
.pi-grid-small-margins .pi-col-2xs-1,
.pi-grid-small-margins .pi-col-2xs-2,
.pi-grid-small-margins .pi-col-2xs-3,
.pi-grid-small-margins .pi-col-2xs-4,
.pi-grid-small-margins .pi-col-2xs-5,
.pi-grid-small-margins .pi-col-2xs-5-cell,
.pi-grid-small-margins .pi-col-2xs-6,
.pi-grid-small-margins .pi-col-2xs-7,
.pi-grid-small-margins .pi-col-2xs-8,
.pi-grid-small-margins .pi-col-2xs-9,
.pi-grid-small-margins .pi-col-2xs-10,
.pi-grid-small-margins .pi-col-2xs-11,
.pi-grid-small-margins .pi-col-2xs-12,
.pi-grid-small-margins .pi-col-xs-1,
.pi-grid-small-margins .pi-col-xs-2,
.pi-grid-small-margins .pi-col-xs-3,
.pi-grid-small-margins .pi-col-xs-4,
.pi-grid-small-margins .pi-col-xs-5,
.pi-grid-small-margins .pi-col-xs-5-cell,
.pi-grid-small-margins .pi-col-xs-6,
.pi-grid-small-margins .pi-col-xs-7,
.pi-grid-small-margins .pi-col-xs-8,
.pi-grid-small-margins .pi-col-xs-9,
.pi-grid-small-margins .pi-col-xs-10,
.pi-grid-small-margins .pi-col-xs-11,
.pi-grid-small-margins .pi-col-xs-12,
.pi-grid-small-margins .pi-col-sm-1,
.pi-grid-small-margins .pi-col-sm-2,
.pi-grid-small-margins .pi-col-sm-3,
.pi-grid-small-margins .pi-col-sm-4,
.pi-grid-small-margins .pi-col-sm-5,
.pi-grid-small-margins .pi-col-sm-5-cell,
.pi-grid-small-margins .pi-col-sm-6,
.pi-grid-small-margins .pi-col-sm-7,
.pi-grid-small-margins .pi-col-sm-8,
.pi-grid-small-margins .pi-col-sm-9,
.pi-grid-small-margins .pi-col-sm-10,
.pi-grid-small-margins .pi-col-sm-11,
.pi-grid-small-margins .pi-col-sm-12,
.pi-grid-small-margins .pi-col-md-1,
.pi-grid-small-margins .pi-col-md-2,
.pi-grid-small-margins .pi-col-md-3,
.pi-grid-small-margins .pi-col-md-4,
.pi-grid-small-margins .pi-col-md-5,
.pi-grid-small-margins .pi-col-md-5-cell,
.pi-grid-small-margins .pi-col-md-6,
.pi-grid-small-margins .pi-col-md-7,
.pi-grid-small-margins .pi-col-md-8,
.pi-grid-small-margins .pi-col-md-9,
.pi-grid-small-margins .pi-col-md-10,
.pi-grid-small-margins .pi-col-md-11,
.pi-grid-small-margins .pi-col-md-12,
.pi-grid-small-margins .pi-col-lg-1,
.pi-grid-small-margins .pi-col-lg-2,
.pi-grid-small-margins .pi-col-lg-3,
.pi-grid-small-margins .pi-col-lg-4,
.pi-grid-small-margins .pi-col-lg-5,
.pi-grid-small-margins .pi-col-lg-5-cell,
.pi-grid-small-margins .pi-col-lg-6,
.pi-grid-small-margins .pi-col-lg-7,
.pi-grid-small-margins .pi-col-lg-8,
.pi-grid-small-margins .pi-col-lg-9,
.pi-grid-small-margins .pi-col-lg-10,
.pi-grid-small-margins .pi-col-lg-11,
.pi-grid-small-margins .pi-col-lg-12 {
  padding-left: 10px;
  padding-right: 10px;
}
.pi-grid-big-margins {
  margin-left: -32px;
  margin-right: -32px;
}
.pi-grid-big-margins .pi-col-3xs-1,
.pi-grid-big-margins .pi-col-3xs-2,
.pi-grid-big-margins .pi-col-3xs-3,
.pi-grid-big-margins .pi-col-3xs-4,
.pi-grid-big-margins .pi-col-3xs-5,
.pi-grid-big-margins .pi-col-3xs-5-cell,
.pi-grid-big-margins .pi-col-3xs-6,
.pi-grid-big-margins .pi-col-3xs-7,
.pi-grid-big-margins .pi-col-3xs-8,
.pi-grid-big-margins .pi-col-3xs-9,
.pi-grid-big-margins .pi-col-3xs-10,
.pi-grid-big-margins .pi-col-3xs-11,
.pi-grid-big-margins .pi-col-3xs-12,
.pi-grid-big-margins .pi-col-2xs-1,
.pi-grid-big-margins .pi-col-2xs-2,
.pi-grid-big-margins .pi-col-2xs-3,
.pi-grid-big-margins .pi-col-2xs-4,
.pi-grid-big-margins .pi-col-2xs-5,
.pi-grid-big-margins .pi-col-2xs-5-cell,
.pi-grid-big-margins .pi-col-2xs-6,
.pi-grid-big-margins .pi-col-2xs-7,
.pi-grid-big-margins .pi-col-2xs-8,
.pi-grid-big-margins .pi-col-2xs-9,
.pi-grid-big-margins .pi-col-2xs-10,
.pi-grid-big-margins .pi-col-2xs-11,
.pi-grid-big-margins .pi-col-2xs-12,
.pi-grid-big-margins .pi-col-xs-1,
.pi-grid-big-margins .pi-col-xs-2,
.pi-grid-big-margins .pi-col-xs-3,
.pi-grid-big-margins .pi-col-xs-4,
.pi-grid-big-margins .pi-col-xs-5,
.pi-grid-big-margins .pi-col-xs-5-cell,
.pi-grid-big-margins .pi-col-xs-6,
.pi-grid-big-margins .pi-col-xs-7,
.pi-grid-big-margins .pi-col-xs-8,
.pi-grid-big-margins .pi-col-xs-9,
.pi-grid-big-margins .pi-col-xs-10,
.pi-grid-big-margins .pi-col-xs-11,
.pi-grid-big-margins .pi-col-xs-12,
.pi-grid-big-margins .pi-col-sm-1,
.pi-grid-big-margins .pi-col-sm-2,
.pi-grid-big-margins .pi-col-sm-3,
.pi-grid-big-margins .pi-col-sm-4,
.pi-grid-big-margins .pi-col-sm-5,
.pi-grid-big-margins .pi-col-sm-5-cell,
.pi-grid-big-margins .pi-col-sm-6,
.pi-grid-big-margins .pi-col-sm-7,
.pi-grid-big-margins .pi-col-sm-8,
.pi-grid-big-margins .pi-col-sm-9,
.pi-grid-big-margins .pi-col-sm-10,
.pi-grid-big-margins .pi-col-sm-11,
.pi-grid-big-margins .pi-col-sm-12,
.pi-grid-big-margins .pi-col-md-1,
.pi-grid-big-margins .pi-col-md-2,
.pi-grid-big-margins .pi-col-md-3,
.pi-grid-big-margins .pi-col-md-4,
.pi-grid-big-margins .pi-col-md-5,
.pi-grid-big-margins .pi-col-md-5-cell,
.pi-grid-big-margins .pi-col-md-6,
.pi-grid-big-margins .pi-col-md-7,
.pi-grid-big-margins .pi-col-md-8,
.pi-grid-big-margins .pi-col-md-9,
.pi-grid-big-margins .pi-col-md-10,
.pi-grid-big-margins .pi-col-md-11,
.pi-grid-big-margins .pi-col-md-12,
.pi-grid-big-margins .pi-col-lg-1,
.pi-grid-big-margins .pi-col-lg-2,
.pi-grid-big-margins .pi-col-lg-3,
.pi-grid-big-margins .pi-col-lg-4,
.pi-grid-big-margins .pi-col-lg-5,
.pi-grid-big-margins .pi-col-lg-5-cell,
.pi-grid-big-margins .pi-col-lg-6,
.pi-grid-big-margins .pi-col-lg-7,
.pi-grid-big-margins .pi-col-lg-8,
.pi-grid-big-margins .pi-col-lg-9,
.pi-grid-big-margins .pi-col-lg-10,
.pi-grid-big-margins .pi-col-lg-11,
.pi-grid-big-margins .pi-col-lg-12 {
  padding-left: 32px;
  padding-right: 32px;
}
.pi-grid-no-margins {
  margin: 0;
}
.pi-grid-no-margins .pi-col-3xs-1,
.pi-grid-no-margins .pi-col-3xs-2,
.pi-grid-no-margins .pi-col-3xs-3,
.pi-grid-no-margins .pi-col-3xs-4,
.pi-grid-no-margins .pi-col-3xs-5,
.pi-grid-no-margins .pi-col-3xs-5-cell,
.pi-grid-no-margins .pi-col-3xs-6,
.pi-grid-no-margins .pi-col-3xs-7,
.pi-grid-no-margins .pi-col-3xs-8,
.pi-grid-no-margins .pi-col-3xs-9,
.pi-grid-no-margins .pi-col-3xs-10,
.pi-grid-no-margins .pi-col-3xs-11,
.pi-grid-no-margins .pi-col-3xs-12,
.pi-grid-no-margins .pi-col-2xs-1,
.pi-grid-no-margins .pi-col-2xs-2,
.pi-grid-no-margins .pi-col-2xs-3,
.pi-grid-no-margins .pi-col-2xs-4,
.pi-grid-no-margins .pi-col-2xs-5,
.pi-grid-no-margins .pi-col-2xs-5-cell,
.pi-grid-no-margins .pi-col-2xs-6,
.pi-grid-no-margins .pi-col-2xs-7,
.pi-grid-no-margins .pi-col-2xs-8,
.pi-grid-no-margins .pi-col-2xs-9,
.pi-grid-no-margins .pi-col-2xs-10,
.pi-grid-no-margins .pi-col-2xs-11,
.pi-grid-no-margins .pi-col-2xs-12,
.pi-grid-no-margins .pi-col-xs-1,
.pi-grid-no-margins .pi-col-xs-2,
.pi-grid-no-margins .pi-col-xs-3,
.pi-grid-no-margins .pi-col-xs-4,
.pi-grid-no-margins .pi-col-xs-5,
.pi-grid-no-margins .pi-col-xs-5-cell,
.pi-grid-no-margins .pi-col-xs-6,
.pi-grid-no-margins .pi-col-xs-7,
.pi-grid-no-margins .pi-col-xs-8,
.pi-grid-no-margins .pi-col-xs-9,
.pi-grid-no-margins .pi-col-xs-10,
.pi-grid-no-margins .pi-col-xs-11,
.pi-grid-no-margins .pi-col-xs-12,
.pi-grid-no-margins .pi-col-sm-1,
.pi-grid-no-margins .pi-col-sm-2,
.pi-grid-no-margins .pi-col-sm-3,
.pi-grid-no-margins .pi-col-sm-4,
.pi-grid-no-margins .pi-col-sm-5,
.pi-grid-no-margins .pi-col-sm-5-cell,
.pi-grid-no-margins .pi-col-sm-6,
.pi-grid-no-margins .pi-col-sm-7,
.pi-grid-no-margins .pi-col-sm-8,
.pi-grid-no-margins .pi-col-sm-9,
.pi-grid-no-margins .pi-col-sm-10,
.pi-grid-no-margins .pi-col-sm-11,
.pi-grid-no-margins .pi-col-sm-12,
.pi-grid-no-margins .pi-col-md-1,
.pi-grid-no-margins .pi-col-md-2,
.pi-grid-no-margins .pi-col-md-3,
.pi-grid-no-margins .pi-col-md-4,
.pi-grid-no-margins .pi-col-md-5,
.pi-grid-no-margins .pi-col-md-5-cell,
.pi-grid-no-margins .pi-col-md-6,
.pi-grid-no-margins .pi-col-md-7,
.pi-grid-no-margins .pi-col-md-8,
.pi-grid-no-margins .pi-col-md-9,
.pi-grid-no-margins .pi-col-md-10,
.pi-grid-no-margins .pi-col-md-11,
.pi-grid-no-margins .pi-col-md-12,
.pi-grid-no-margins .pi-col-lg-1,
.pi-grid-no-margins .pi-col-lg-2,
.pi-grid-no-margins .pi-col-lg-3,
.pi-grid-no-margins .pi-col-lg-4,
.pi-grid-no-margins .pi-col-lg-5,
.pi-grid-no-margins .pi-col-lg-5-cell,
.pi-grid-no-margins .pi-col-lg-6,
.pi-grid-no-margins .pi-col-lg-7,
.pi-grid-no-margins .pi-col-lg-8,
.pi-grid-no-margins .pi-col-lg-9,
.pi-grid-no-margins .pi-col-lg-10,
.pi-grid-no-margins .pi-col-lg-11,
.pi-grid-no-margins .pi-col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 0) {
  .pi-col-3xs-1,
  .pi-col-3xs-2,
  .pi-col-3xs-3,
  .pi-col-3xs-4,
  .pi-col-3xs-5,
  .pi-col-3xs-5-cell,
  .pi-col-3xs-6,
  .pi-col-3xs-7,
  .pi-col-3xs-8,
  .pi-col-3xs-9,
  .pi-col-3xs-10,
  .pi-col-3xs-11 {
    float: left;
  }
  .pi-bordered .pi-col-3xs-1,
  .pi-bordered .pi-col-3xs-2,
  .pi-bordered .pi-col-3xs-3,
  .pi-bordered .pi-col-3xs-4,
  .pi-bordered .pi-col-3xs-5,
  .pi-bordered .pi-col-3xs-5-cell,
  .pi-bordered .pi-col-3xs-6,
  .pi-bordered .pi-col-3xs-7,
  .pi-bordered .pi-col-3xs-8,
  .pi-bordered .pi-col-3xs-9,
  .pi-bordered .pi-col-3xs-10,
  .pi-bordered .pi-col-3xs-11 {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  .pi-bordered .pi-col-3xs-1:last-child,
  .pi-bordered .pi-col-3xs-2:last-child,
  .pi-bordered .pi-col-3xs-3:last-child,
  .pi-bordered .pi-col-3xs-4:last-child,
  .pi-bordered .pi-col-3xs-5:last-child,
  .pi-bordered .pi-col-3xs-5-cell:last-child,
  .pi-bordered .pi-col-3xs-6:last-child,
  .pi-bordered .pi-col-3xs-7:last-child,
  .pi-bordered .pi-col-3xs-8:last-child,
  .pi-bordered .pi-col-3xs-9:last-child,
  .pi-bordered .pi-col-3xs-10:last-child,
  .pi-bordered .pi-col-3xs-11:last-child {
    border-right: 0;
  }
  .pi-bordered:last-child .pi-col-3xs-1,
  .pi-bordered:last-child .pi-col-3xs-2,
  .pi-bordered:last-child .pi-col-3xs-3,
  .pi-bordered:last-child .pi-col-3xs-4,
  .pi-bordered:last-child .pi-col-3xs-5,
  .pi-bordered:last-child .pi-col-3xs-5-cell,
  .pi-bordered:last-child .pi-col-3xs-6,
  .pi-bordered:last-child .pi-col-3xs-7,
  .pi-bordered:last-child .pi-col-3xs-8,
  .pi-bordered:last-child .pi-col-3xs-9,
  .pi-bordered:last-child .pi-col-3xs-10,
  .pi-bordered:last-child .pi-col-3xs-11 {
    border-bottom: 0;
  }
  .pi-col-3xs-1 {
    width: 8.333333333333332%;
  }
  .pi-col-3xs-2 {
    width: 16.666666666666664%;
  }
  .pi-col-3xs-3 {
    width: 25%;
  }
  .pi-col-3xs-4 {
    width: 33.33333333333333%;
  }
  .pi-col-3xs-5 {
    width: 41.66666666666667%;
  }
  .pi-col-3xs-5-cell {
    width: 20%;
  }
  .pi-col-3xs-6 {
    width: 50%;
  }
  .pi-col-3xs-7 {
    width: 58.333333333333336%;
  }
  .pi-col-3xs-8 {
    width: 66.66666666666666%;
  }
  .pi-col-3xs-9 {
    width: 75%;
  }
  .pi-col-3xs-10 {
    width: 83.33333333333334%;
  }
  .pi-col-3xs-11 {
    width: 91.66666666666666%;
  }
  .pi-col-3xs-12 {
    width: 100%;
  }
  .pi-col-3xs-push-1 {
    left: 8.333333333333332%;
  }
  .pi-col-3xs-push-2 {
    left: 16.666666666666664%;
  }
  .pi-col-3xs-push-3 {
    left: 25%;
  }
  .pi-col-3xs-push-4 {
    left: 33.33333333333333%;
  }
  .pi-col-3xs-push-5 {
    left: 41.66666666666667%;
  }
  .pi-col-3xs-push-5-cell {
    left: 20%;
  }
  .pi-col-3xs-push-6 {
    left: 50%;
  }
  .pi-col-3xs-push-7 {
    left: 58.333333333333336%;
  }
  .pi-col-3xs-push-8 {
    left: 66.66666666666666%;
  }
  .pi-col-3xs-push-9 {
    left: 75%;
  }
  .pi-col-3xs-push-10 {
    left: 83.33333333333334%;
  }
  .pi-col-3xs-push-11 {
    left: 91.66666666666666%;
  }
  .pi-col-3xs-pull-1 {
    right: 8.333333333333332%;
  }
  .pi-col-3xs-pull-2 {
    right: 16.666666666666664%;
  }
  .pi-col-3xs-pull-3 {
    right: 25%;
  }
  .pi-col-3xs-pull-4 {
    right: 33.33333333333333%;
  }
  .pi-col-3xs-pull-5 {
    right: 41.66666666666667%;
  }
  .pi-col-3xs-pull-5-cell {
    right: 20%;
  }
  .pi-col-3xs-pull-6 {
    right: 50%;
  }
  .pi-col-3xs-pull-7 {
    right: 58.333333333333336%;
  }
  .pi-col-3xs-pull-8 {
    right: 66.66666666666666%;
  }
  .pi-col-3xs-pull-9 {
    right: 75%;
  }
  .pi-col-3xs-pull-10 {
    right: 83.33333333333334%;
  }
  .pi-col-3xs-pull-11 {
    right: 91.66666666666666%;
  }
  .pi-col-3xs-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .pi-col-3xs-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .pi-col-3xs-offset-3 {
    margin-left: 25%;
  }
  .pi-col-3xs-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .pi-col-3xs-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .pi-col-3xs-offset-5-cell {
    margin-left: 20%;
  }
  .pi-col-3xs-offset-6 {
    margin-left: 50%;
  }
  .pi-col-3xs-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .pi-col-3xs-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .pi-col-3xs-offset-9 {
    margin-left: 75%;
  }
  .pi-col-3xs-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .pi-col-3xs-offset-11 {
    margin-left: 91.66666666666666%;
  }
}
@media (min-width: 320px) {
  .pi-col-2xs-1,
  .pi-col-2xs-2,
  .pi-col-2xs-3,
  .pi-col-2xs-4,
  .pi-col-2xs-5,
  .pi-col-2xs-5-cell,
  .pi-col-2xs-6,
  .pi-col-2xs-7,
  .pi-col-2xs-8,
  .pi-col-2xs-9,
  .pi-col-2xs-10,
  .pi-col-2xs-11 {
    float: left;
  }
  .pi-bordered .pi-col-2xs-1,
  .pi-bordered .pi-col-2xs-2,
  .pi-bordered .pi-col-2xs-3,
  .pi-bordered .pi-col-2xs-4,
  .pi-bordered .pi-col-2xs-5,
  .pi-bordered .pi-col-2xs-5-cell,
  .pi-bordered .pi-col-2xs-6,
  .pi-bordered .pi-col-2xs-7,
  .pi-bordered .pi-col-2xs-8,
  .pi-bordered .pi-col-2xs-9,
  .pi-bordered .pi-col-2xs-10,
  .pi-bordered .pi-col-2xs-11 {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  .pi-bordered .pi-col-2xs-1:last-child,
  .pi-bordered .pi-col-2xs-2:last-child,
  .pi-bordered .pi-col-2xs-3:last-child,
  .pi-bordered .pi-col-2xs-4:last-child,
  .pi-bordered .pi-col-2xs-5:last-child,
  .pi-bordered .pi-col-2xs-5-cell:last-child,
  .pi-bordered .pi-col-2xs-6:last-child,
  .pi-bordered .pi-col-2xs-7:last-child,
  .pi-bordered .pi-col-2xs-8:last-child,
  .pi-bordered .pi-col-2xs-9:last-child,
  .pi-bordered .pi-col-2xs-10:last-child,
  .pi-bordered .pi-col-2xs-11:last-child {
    border-right: 0;
  }
  .pi-bordered:last-child .pi-col-2xs-1,
  .pi-bordered:last-child .pi-col-2xs-2,
  .pi-bordered:last-child .pi-col-2xs-3,
  .pi-bordered:last-child .pi-col-2xs-4,
  .pi-bordered:last-child .pi-col-2xs-5,
  .pi-bordered:last-child .pi-col-2xs-5-cell,
  .pi-bordered:last-child .pi-col-2xs-6,
  .pi-bordered:last-child .pi-col-2xs-7,
  .pi-bordered:last-child .pi-col-2xs-8,
  .pi-bordered:last-child .pi-col-2xs-9,
  .pi-bordered:last-child .pi-col-2xs-10,
  .pi-bordered:last-child .pi-col-2xs-11 {
    border-bottom: 0;
  }
  .pi-col-2xs-1 {
    width: 8.333333333333332%;
  }
  .pi-col-2xs-2 {
    width: 16.666666666666664%;
  }
  .pi-col-2xs-3 {
    width: 25%;
  }
  .pi-col-2xs-4 {
    width: 33.33333333333333%;
  }
  .pi-col-2xs-5 {
    width: 41.66666666666667%;
  }
  .pi-col-2xs-5-cell {
    width: 20%;
  }
  .pi-col-2xs-6 {
    width: 50%;
  }
  .pi-col-2xs-7 {
    width: 58.333333333333336%;
  }
  .pi-col-2xs-8 {
    width: 66.66666666666666%;
  }
  .pi-col-2xs-9 {
    width: 75%;
  }
  .pi-col-2xs-10 {
    width: 83.33333333333334%;
  }
  .pi-col-2xs-11 {
    width: 91.66666666666666%;
  }
  .pi-col-2xs-12 {
    width: 100%;
  }
  .pi-col-2xs-push-1 {
    left: 8.333333333333332%;
  }
  .pi-col-2xs-push-2 {
    left: 16.666666666666664%;
  }
  .pi-col-2xs-push-3 {
    left: 25%;
  }
  .pi-col-2xs-push-4 {
    left: 33.33333333333333%;
  }
  .pi-col-2xs-push-5 {
    left: 41.66666666666667%;
  }
  .pi-col-2xs-push-5-cell {
    left: 20%;
  }
  .pi-col-2xs-push-6 {
    left: 50%;
  }
  .pi-col-2xs-push-7 {
    left: 58.333333333333336%;
  }
  .pi-col-2xs-push-8 {
    left: 66.66666666666666%;
  }
  .pi-col-2xs-push-9 {
    left: 75%;
  }
  .pi-col-2xs-push-10 {
    left: 83.33333333333334%;
  }
  .pi-col-2xs-push-11 {
    left: 91.66666666666666%;
  }
  .pi-col-2xs-pull-1 {
    right: 8.333333333333332%;
  }
  .pi-col-2xs-pull-2 {
    right: 16.666666666666664%;
  }
  .pi-col-2xs-pull-3 {
    right: 25%;
  }
  .pi-col-2xs-pull-4 {
    right: 33.33333333333333%;
  }
  .pi-col-2xs-pull-5 {
    right: 41.66666666666667%;
  }
  .pi-col-2xs-pull-5-cell {
    right: 20%;
  }
  .pi-col-2xs-pull-6 {
    right: 50%;
  }
  .pi-col-2xs-pull-7 {
    right: 58.333333333333336%;
  }
  .pi-col-2xs-pull-8 {
    right: 66.66666666666666%;
  }
  .pi-col-2xs-pull-9 {
    right: 75%;
  }
  .pi-col-2xs-pull-10 {
    right: 83.33333333333334%;
  }
  .pi-col-2xs-pull-11 {
    right: 91.66666666666666%;
  }
  .pi-col-2xs-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .pi-col-2xs-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .pi-col-2xs-offset-3 {
    margin-left: 25%;
  }
  .pi-col-2xs-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .pi-col-2xs-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .pi-col-2xs-offset-5-cell {
    margin-left: 20%;
  }
  .pi-col-2xs-offset-6 {
    margin-left: 50%;
  }
  .pi-col-2xs-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .pi-col-2xs-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .pi-col-2xs-offset-9 {
    margin-left: 75%;
  }
  .pi-col-2xs-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .pi-col-2xs-offset-11 {
    margin-left: 91.66666666666666%;
  }
}
@media (min-width: 480px) {
  .pi-col-xs-1,
  .pi-col-xs-2,
  .pi-col-xs-3,
  .pi-col-xs-4,
  .pi-col-xs-5,
  .pi-col-xs-5-cell,
  .pi-col-xs-6,
  .pi-col-xs-7,
  .pi-col-xs-8,
  .pi-col-xs-9,
  .pi-col-xs-10,
  .pi-col-xs-11 {
    float: left;
  }
  .pi-bordered .pi-col-xs-1,
  .pi-bordered .pi-col-xs-2,
  .pi-bordered .pi-col-xs-3,
  .pi-bordered .pi-col-xs-4,
  .pi-bordered .pi-col-xs-5,
  .pi-bordered .pi-col-xs-5-cell,
  .pi-bordered .pi-col-xs-6,
  .pi-bordered .pi-col-xs-7,
  .pi-bordered .pi-col-xs-8,
  .pi-bordered .pi-col-xs-9,
  .pi-bordered .pi-col-xs-10,
  .pi-bordered .pi-col-xs-11 {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  .pi-bordered .pi-col-xs-1:last-child,
  .pi-bordered .pi-col-xs-2:last-child,
  .pi-bordered .pi-col-xs-3:last-child,
  .pi-bordered .pi-col-xs-4:last-child,
  .pi-bordered .pi-col-xs-5:last-child,
  .pi-bordered .pi-col-xs-5-cell:last-child,
  .pi-bordered .pi-col-xs-6:last-child,
  .pi-bordered .pi-col-xs-7:last-child,
  .pi-bordered .pi-col-xs-8:last-child,
  .pi-bordered .pi-col-xs-9:last-child,
  .pi-bordered .pi-col-xs-10:last-child,
  .pi-bordered .pi-col-xs-11:last-child {
    border-right: 0;
  }
  .pi-bordered:last-child .pi-col-xs-1,
  .pi-bordered:last-child .pi-col-xs-2,
  .pi-bordered:last-child .pi-col-xs-3,
  .pi-bordered:last-child .pi-col-xs-4,
  .pi-bordered:last-child .pi-col-xs-5,
  .pi-bordered:last-child .pi-col-xs-5-cell,
  .pi-bordered:last-child .pi-col-xs-6,
  .pi-bordered:last-child .pi-col-xs-7,
  .pi-bordered:last-child .pi-col-xs-8,
  .pi-bordered:last-child .pi-col-xs-9,
  .pi-bordered:last-child .pi-col-xs-10,
  .pi-bordered:last-child .pi-col-xs-11 {
    border-bottom: 0;
  }
  .pi-col-xs-1 {
    width: 8.333333333333332%;
  }
  .pi-col-xs-2 {
    width: 16.666666666666664%;
  }
  .pi-col-xs-3 {
    width: 25%;
  }
  .pi-col-xs-4 {
    width: 33.33333333333333%;
  }
  .pi-col-xs-5 {
    width: 41.66666666666667%;
  }
  .pi-col-xs-5-cell {
    width: 20%;
  }
  .pi-col-xs-6 {
    width: 50%;
  }
  .pi-col-xs-7 {
    width: 58.333333333333336%;
  }
  .pi-col-xs-8 {
    width: 66.66666666666666%;
  }
  .pi-col-xs-9 {
    width: 75%;
  }
  .pi-col-xs-10 {
    width: 83.33333333333334%;
  }
  .pi-col-xs-11 {
    width: 91.66666666666666%;
  }
  .pi-col-xs-12 {
    width: 100%;
  }
  .pi-col-xs-push-1 {
    left: 8.333333333333332%;
  }
  .pi-col-xs-push-2 {
    left: 16.666666666666664%;
  }
  .pi-col-xs-push-3 {
    left: 25%;
  }
  .pi-col-xs-push-4 {
    left: 33.33333333333333%;
  }
  .pi-col-xs-push-5 {
    left: 41.66666666666667%;
  }
  .pi-col-xs-push-5-cell {
    left: 20%;
  }
  .pi-col-xs-push-6 {
    left: 50%;
  }
  .pi-col-xs-push-7 {
    left: 58.333333333333336%;
  }
  .pi-col-xs-push-8 {
    left: 66.66666666666666%;
  }
  .pi-col-xs-push-9 {
    left: 75%;
  }
  .pi-col-xs-push-10 {
    left: 83.33333333333334%;
  }
  .pi-col-xs-push-11 {
    left: 91.66666666666666%;
  }
  .pi-col-xs-pull-1 {
    right: 8.333333333333332%;
  }
  .pi-col-xs-pull-2 {
    right: 16.666666666666664%;
  }
  .pi-col-xs-pull-3 {
    right: 25%;
  }
  .pi-col-xs-pull-4 {
    right: 33.33333333333333%;
  }
  .pi-col-xs-pull-5 {
    right: 41.66666666666667%;
  }
  .pi-col-xs-pull-5-cell {
    right: 20%;
  }
  .pi-col-xs-pull-6 {
    right: 50%;
  }
  .pi-col-xs-pull-7 {
    right: 58.333333333333336%;
  }
  .pi-col-xs-pull-8 {
    right: 66.66666666666666%;
  }
  .pi-col-xs-pull-9 {
    right: 75%;
  }
  .pi-col-xs-pull-10 {
    right: 83.33333333333334%;
  }
  .pi-col-xs-pull-11 {
    right: 91.66666666666666%;
  }
  .pi-col-xs-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .pi-col-xs-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .pi-col-xs-offset-3 {
    margin-left: 25%;
  }
  .pi-col-xs-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .pi-col-xs-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .pi-col-xs-offset-5-cell {
    margin-left: 20%;
  }
  .pi-col-xs-offset-6 {
    margin-left: 50%;
  }
  .pi-col-xs-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .pi-col-xs-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .pi-col-xs-offset-9 {
    margin-left: 75%;
  }
  .pi-col-xs-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .pi-col-xs-offset-11 {
    margin-left: 91.66666666666666%;
  }
}
@media (min-width: 768px) {
  .pi-col-sm-1,
  .pi-col-sm-2,
  .pi-col-sm-3,
  .pi-col-sm-4,
  .pi-col-sm-5,
  .pi-col-sm-5-cell,
  .pi-col-sm-6,
  .pi-col-sm-7,
  .pi-col-sm-8,
  .pi-col-sm-9,
  .pi-col-sm-10,
  .pi-col-sm-11 {
    float: left;
  }
  .pi-bordered .pi-col-sm-1,
  .pi-bordered .pi-col-sm-2,
  .pi-bordered .pi-col-sm-3,
  .pi-bordered .pi-col-sm-4,
  .pi-bordered .pi-col-sm-5,
  .pi-bordered .pi-col-sm-5-cell,
  .pi-bordered .pi-col-sm-6,
  .pi-bordered .pi-col-sm-7,
  .pi-bordered .pi-col-sm-8,
  .pi-bordered .pi-col-sm-9,
  .pi-bordered .pi-col-sm-10,
  .pi-bordered .pi-col-sm-11 {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  .pi-bordered .pi-col-sm-1:last-child,
  .pi-bordered .pi-col-sm-2:last-child,
  .pi-bordered .pi-col-sm-3:last-child,
  .pi-bordered .pi-col-sm-4:last-child,
  .pi-bordered .pi-col-sm-5:last-child,
  .pi-bordered .pi-col-sm-5-cell:last-child,
  .pi-bordered .pi-col-sm-6:last-child,
  .pi-bordered .pi-col-sm-7:last-child,
  .pi-bordered .pi-col-sm-8:last-child,
  .pi-bordered .pi-col-sm-9:last-child,
  .pi-bordered .pi-col-sm-10:last-child,
  .pi-bordered .pi-col-sm-11:last-child {
    border-right: 0;
  }
  .pi-bordered:last-child .pi-col-sm-1,
  .pi-bordered:last-child .pi-col-sm-2,
  .pi-bordered:last-child .pi-col-sm-3,
  .pi-bordered:last-child .pi-col-sm-4,
  .pi-bordered:last-child .pi-col-sm-5,
  .pi-bordered:last-child .pi-col-sm-5-cell,
  .pi-bordered:last-child .pi-col-sm-6,
  .pi-bordered:last-child .pi-col-sm-7,
  .pi-bordered:last-child .pi-col-sm-8,
  .pi-bordered:last-child .pi-col-sm-9,
  .pi-bordered:last-child .pi-col-sm-10,
  .pi-bordered:last-child .pi-col-sm-11 {
    border-bottom: 0;
  }
  .pi-col-sm-1 {
    width: 8.333333333333332%;
  }
  .pi-col-sm-2 {
    width: 16.666666666666664%;
  }
  .pi-col-sm-3 {
    width: 25%;
  }
  .pi-col-sm-4 {
    width: 33.33333333333333%;
  }
  .pi-col-sm-5 {
    width: 41.66666666666667%;
  }
  .pi-col-sm-5-cell {
    width: 20%;
  }
  .pi-col-sm-6 {
    width: 50%;
  }
  .pi-col-sm-7 {
    width: 58.333333333333336%;
  }
  .pi-col-sm-8 {
    width: 66.66666666666666%;
  }
  .pi-col-sm-9 {
    width: 75%;
  }
  .pi-col-sm-10 {
    width: 83.33333333333334%;
  }
  .pi-col-sm-11 {
    width: 91.66666666666666%;
  }
  .pi-col-sm-12 {
    width: 100%;
  }
  .pi-col-sm-push-1 {
    left: 8.333333333333332%;
  }
  .pi-col-sm-push-2 {
    left: 16.666666666666664%;
  }
  .pi-col-sm-push-3 {
    left: 25%;
  }
  .pi-col-sm-push-4 {
    left: 33.33333333333333%;
  }
  .pi-col-sm-push-5 {
    left: 41.66666666666667%;
  }
  .pi-col-sm-push-5-cell {
    left: 20%;
  }
  .pi-col-sm-push-6 {
    left: 50%;
  }
  .pi-col-sm-push-7 {
    left: 58.333333333333336%;
  }
  .pi-col-sm-push-8 {
    left: 66.66666666666666%;
  }
  .pi-col-sm-push-9 {
    left: 75%;
  }
  .pi-col-sm-push-10 {
    left: 83.33333333333334%;
  }
  .pi-col-sm-push-11 {
    left: 91.66666666666666%;
  }
  .pi-col-sm-pull-1 {
    right: 8.333333333333332%;
  }
  .pi-col-sm-pull-2 {
    right: 16.666666666666664%;
  }
  .pi-col-sm-pull-3 {
    right: 25%;
  }
  .pi-col-sm-pull-4 {
    right: 33.33333333333333%;
  }
  .pi-col-sm-pull-5 {
    right: 41.66666666666667%;
  }
  .pi-col-sm-pull-5-cell {
    right: 20%;
  }
  .pi-col-sm-pull-6 {
    right: 50%;
  }
  .pi-col-sm-pull-7 {
    right: 58.333333333333336%;
  }
  .pi-col-sm-pull-8 {
    right: 66.66666666666666%;
  }
  .pi-col-sm-pull-9 {
    right: 75%;
  }
  .pi-col-sm-pull-10 {
    right: 83.33333333333334%;
  }
  .pi-col-sm-pull-11 {
    right: 91.66666666666666%;
  }
  .pi-col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .pi-col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .pi-col-sm-offset-3 {
    margin-left: 25%;
  }
  .pi-col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .pi-col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .pi-col-sm-offset-5-cell {
    margin-left: 20%;
  }
  .pi-col-sm-offset-6 {
    margin-left: 50%;
  }
  .pi-col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .pi-col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .pi-col-sm-offset-9 {
    margin-left: 75%;
  }
  .pi-col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .pi-col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }
}
@media (min-width: 992px) {
  .pi-col-md-1,
  .pi-col-md-2,
  .pi-col-md-3,
  .pi-col-md-4,
  .pi-col-md-5,
  .pi-col-md-5-cell,
  .pi-col-md-6,
  .pi-col-md-7,
  .pi-col-md-8,
  .pi-col-md-9,
  .pi-col-md-10,
  .pi-col-md-11 {
    float: left;
  }
  .pi-bordered .pi-col-md-1,
  .pi-bordered .pi-col-md-2,
  .pi-bordered .pi-col-md-3,
  .pi-bordered .pi-col-md-4,
  .pi-bordered .pi-col-md-5,
  .pi-bordered .pi-col-md-5-cell,
  .pi-bordered .pi-col-md-6,
  .pi-bordered .pi-col-md-7,
  .pi-bordered .pi-col-md-8,
  .pi-bordered .pi-col-md-9,
  .pi-bordered .pi-col-md-10,
  .pi-bordered .pi-col-md-11 {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  .pi-bordered .pi-col-md-1:last-child,
  .pi-bordered .pi-col-md-2:last-child,
  .pi-bordered .pi-col-md-3:last-child,
  .pi-bordered .pi-col-md-4:last-child,
  .pi-bordered .pi-col-md-5:last-child,
  .pi-bordered .pi-col-md-5-cell:last-child,
  .pi-bordered .pi-col-md-6:last-child,
  .pi-bordered .pi-col-md-7:last-child,
  .pi-bordered .pi-col-md-8:last-child,
  .pi-bordered .pi-col-md-9:last-child,
  .pi-bordered .pi-col-md-10:last-child,
  .pi-bordered .pi-col-md-11:last-child {
    border-right: 0;
  }
  .pi-bordered:last-child .pi-col-md-1,
  .pi-bordered:last-child .pi-col-md-2,
  .pi-bordered:last-child .pi-col-md-3,
  .pi-bordered:last-child .pi-col-md-4,
  .pi-bordered:last-child .pi-col-md-5,
  .pi-bordered:last-child .pi-col-md-5-cell,
  .pi-bordered:last-child .pi-col-md-6,
  .pi-bordered:last-child .pi-col-md-7,
  .pi-bordered:last-child .pi-col-md-8,
  .pi-bordered:last-child .pi-col-md-9,
  .pi-bordered:last-child .pi-col-md-10,
  .pi-bordered:last-child .pi-col-md-11 {
    border-bottom: 0;
  }
  .pi-col-md-1 {
    width: 8.333333333333332%;
  }
  .pi-col-md-2 {
    width: 16.666666666666664%;
  }
  .pi-col-md-3 {
    width: 25%;
  }
  .pi-col-md-4 {
    width: 33.33333333333333%;
  }
  .pi-col-md-5 {
    width: 41.66666666666667%;
  }
  .pi-col-md-5-cell {
    width: 20%;
  }
  .pi-col-md-6 {
    width: 50%;
  }
  .pi-col-md-7 {
    width: 58.333333333333336%;
  }
  .pi-col-md-8 {
    width: 66.66666666666666%;
  }
  .pi-col-md-9 {
    width: 75%;
  }
  .pi-col-md-10 {
    width: 83.33333333333334%;
  }
  .pi-col-md-11 {
    width: 91.66666666666666%;
  }
  .pi-col-md-12 {
    width: 100%;
  }
  .pi-col-md-push-0 {
    left: auto;
  }
  .pi-col-md-push-1 {
    left: 8.333333333333332%;
  }
  .pi-col-md-push-2 {
    left: 16.666666666666664%;
  }
  .pi-col-md-push-3 {
    left: 25%;
  }
  .pi-col-md-push-4 {
    left: 33.33333333333333%;
  }
  .pi-col-md-push-5 {
    left: 41.66666666666667%;
  }
  .pi-col-md-push-5-cell {
    left: 20%;
  }
  .pi-col-md-push-6 {
    left: 50%;
  }
  .pi-col-md-push-7 {
    left: 58.333333333333336%;
  }
  .pi-col-md-push-8 {
    left: 66.66666666666666%;
  }
  .pi-col-md-push-9 {
    left: 75%;
  }
  .pi-col-md-push-10 {
    left: 83.33333333333334%;
  }
  .pi-col-md-push-11 {
    left: 91.66666666666666%;
  }
  .pi-col-md-pull-0 {
    right: auto;
  }
  .pi-col-md-pull-1 {
    right: 8.333333333333332%;
  }
  .pi-col-md-pull-2 {
    right: 16.666666666666664%;
  }
  .pi-col-md-pull-3 {
    right: 25%;
  }
  .pi-col-md-pull-4 {
    right: 33.33333333333333%;
  }
  .pi-col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .pi-col-md-pull-5-cell {
    right: 20%;
  }
  .pi-col-md-pull-6 {
    right: 50%;
  }
  .pi-col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .pi-col-md-pull-8 {
    right: 66.66666666666666%;
  }
  .pi-col-md-pull-9 {
    right: 75%;
  }
  .pi-col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .pi-col-md-pull-11 {
    right: 91.66666666666666%;
  }
  .pi-col-md-offset-0 {
    margin-left: 0;
  }
  .pi-col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .pi-col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .pi-col-md-offset-3 {
    margin-left: 25%;
  }
  .pi-col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .pi-col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .pi-col-md-offset-5-cell {
    margin-left: 20%;
  }
  .pi-col-md-offset-6 {
    margin-left: 50%;
  }
  .pi-col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .pi-col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .pi-col-md-offset-9 {
    margin-left: 75%;
  }
  .pi-col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .pi-col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
}
@media (min-width: 1120px) {
  .pi-col-lg-1,
  .pi-col-lg-2,
  .pi-col-lg-3,
  .pi-col-lg-4,
  .pi-col-lg-5,
  .pi-col-lg-5-cell,
  .pi-col-lg-6,
  .pi-col-lg-7,
  .pi-col-lg-8,
  .pi-col-lg-9,
  .pi-col-lg-10,
  .pi-col-lg-11 {
    float: left;
  }
  .pi-bordered .pi-col-lg-1,
  .pi-bordered .pi-col-lg-2,
  .pi-bordered .pi-col-lg-3,
  .pi-bordered .pi-col-lg-4,
  .pi-bordered .pi-col-lg-5,
  .pi-bordered .pi-col-lg-5-cell,
  .pi-bordered .pi-col-lg-6,
  .pi-bordered .pi-col-lg-7,
  .pi-bordered .pi-col-lg-8,
  .pi-bordered .pi-col-lg-9,
  .pi-bordered .pi-col-lg-10,
  .pi-bordered .pi-col-lg-11 {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  .pi-bordered .pi-col-lg-1:last-child,
  .pi-bordered .pi-col-lg-2:last-child,
  .pi-bordered .pi-col-lg-3:last-child,
  .pi-bordered .pi-col-lg-4:last-child,
  .pi-bordered .pi-col-lg-5:last-child,
  .pi-bordered .pi-col-lg-5-cell:last-child,
  .pi-bordered .pi-col-lg-6:last-child,
  .pi-bordered .pi-col-lg-7:last-child,
  .pi-bordered .pi-col-lg-8:last-child,
  .pi-bordered .pi-col-lg-9:last-child,
  .pi-bordered .pi-col-lg-10:last-child,
  .pi-bordered .pi-col-lg-11:last-child {
    border-right: 0;
  }
  .pi-bordered:last-child .pi-col-lg-1,
  .pi-bordered:last-child .pi-col-lg-2,
  .pi-bordered:last-child .pi-col-lg-3,
  .pi-bordered:last-child .pi-col-lg-4,
  .pi-bordered:last-child .pi-col-lg-5,
  .pi-bordered:last-child .pi-col-lg-5-cell,
  .pi-bordered:last-child .pi-col-lg-6,
  .pi-bordered:last-child .pi-col-lg-7,
  .pi-bordered:last-child .pi-col-lg-8,
  .pi-bordered:last-child .pi-col-lg-9,
  .pi-bordered:last-child .pi-col-lg-10,
  .pi-bordered:last-child .pi-col-lg-11 {
    border-bottom: 0;
  }
  .pi-col-lg-1 {
    width: 8.333333333333332%;
  }
  .pi-col-lg-2 {
    width: 16.666666666666664%;
  }
  .pi-col-lg-3 {
    width: 25%;
  }
  .pi-col-lg-4 {
    width: 33.33333333333333%;
  }
  .pi-col-lg-5 {
    width: 41.66666666666667%;
  }
  .pi-col-lg-5-cell {
    width: 20%;
  }
  .pi-col-lg-6 {
    width: 50%;
  }
  .pi-col-lg-7 {
    width: 58.333333333333336%;
  }
  .pi-col-lg-8 {
    width: 66.66666666666666%;
  }
  .pi-col-lg-9 {
    width: 75%;
  }
  .pi-col-lg-10 {
    width: 83.33333333333334%;
  }
  .pi-col-lg-11 {
    width: 91.66666666666666%;
  }
  .pi-col-lg-12 {
    width: 100%;
  }
  .pi-col-lg-push-0 {
    left: auto;
  }
  .pi-col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .pi-col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .pi-col-lg-push-3 {
    left: 25%;
  }
  .pi-col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .pi-col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .pi-col-lg-push-5-cell {
    left: 20%;
  }
  .pi-col-lg-push-6 {
    left: 50%;
  }
  .pi-col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .pi-col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .pi-col-lg-push-9 {
    left: 75%;
  }
  .pi-col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .pi-col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .pi-col-lg-pull-0 {
    right: auto;
  }
  .pi-col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .pi-col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .pi-col-lg-pull-3 {
    right: 25%;
  }
  .pi-col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .pi-col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .pi-col-lg-pull-5-cell {
    right: 20%;
  }
  .pi-col-lg-pull-6 {
    right: 50%;
  }
  .pi-col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .pi-col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .pi-col-lg-pull-9 {
    right: 75%;
  }
  .pi-col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .pi-col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .pi-col-lg-offset-0 {
    margin-left: 0;
  }
  .pi-col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .pi-col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .pi-col-lg-offset-3 {
    margin-left: 25%;
  }
  .pi-col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .pi-col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .pi-col-lg-offset-5-cell {
    margin-left: 20%;
  }
  .pi-col-lg-offset-6 {
    margin-left: 50%;
  }
  .pi-col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .pi-col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .pi-col-lg-offset-9 {
    margin-left: 75%;
  }
  .pi-col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .pi-col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
}
@media (max-width: 319px) {
  .pi-row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .pi-col-3xs-1,
  .pi-col-3xs-2,
  .pi-col-3xs-3,
  .pi-col-3xs-4,
  .pi-col-3xs-5,
  .pi-col-3xs-5-cell,
  .pi-col-3xs-6,
  .pi-col-3xs-7,
  .pi-col-3xs-8,
  .pi-col-3xs-9,
  .pi-col-3xs-10,
  .pi-col-3xs-11,
  .pi-col-3xs-12,
  .pi-col-2xs-1,
  .pi-col-2xs-2,
  .pi-col-2xs-3,
  .pi-col-2xs-4,
  .pi-col-2xs-5,
  .pi-col-2xs-5-cell,
  .pi-col-2xs-6,
  .pi-col-2xs-7,
  .pi-col-2xs-8,
  .pi-col-2xs-9,
  .pi-col-2xs-10,
  .pi-col-2xs-11,
  .pi-col-2xs-12,
  .pi-col-xs-1,
  .pi-col-xs-2,
  .pi-col-xs-3,
  .pi-col-xs-4,
  .pi-col-xs-5,
  .pi-col-xs-5-cell,
  .pi-col-xs-6,
  .pi-col-xs-7,
  .pi-col-xs-8,
  .pi-col-xs-9,
  .pi-col-xs-10,
  .pi-col-xs-11,
  .pi-col-xs-12,
  .pi-col-sm-1,
  .pi-col-sm-2,
  .pi-col-sm-3,
  .pi-col-sm-4,
  .pi-col-sm-5,
  .pi-col-sm-5-cell,
  .pi-col-sm-6,
  .pi-col-sm-7,
  .pi-col-sm-8,
  .pi-col-sm-9,
  .pi-col-sm-10,
  .pi-col-sm-11,
  .pi-col-sm-12 {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .pi-grid-small-margins {
    margin-left: -5px;
    margin-right: -5px;
  }
  .pi-grid-small-margins .pi-col-3xs-1,
  .pi-grid-small-margins .pi-col-3xs-2,
  .pi-grid-small-margins .pi-col-3xs-3,
  .pi-grid-small-margins .pi-col-3xs-4,
  .pi-grid-small-margins .pi-col-3xs-5,
  .pi-grid-small-margins .pi-col-3xs-5-cell,
  .pi-grid-small-margins .pi-col-3xs-6,
  .pi-grid-small-margins .pi-col-3xs-7,
  .pi-grid-small-margins .pi-col-3xs-8,
  .pi-grid-small-margins .pi-col-3xs-9,
  .pi-grid-small-margins .pi-col-3xs-10,
  .pi-grid-small-margins .pi-col-3xs-11,
  .pi-grid-small-margins .pi-col-3xs-12,
  .pi-grid-small-margins .pi-col-2xs-1,
  .pi-grid-small-margins .pi-col-2xs-2,
  .pi-grid-small-margins .pi-col-2xs-3,
  .pi-grid-small-margins .pi-col-2xs-4,
  .pi-grid-small-margins .pi-col-2xs-5,
  .pi-grid-small-margins .pi-col-2xs-5-cell,
  .pi-grid-small-margins .pi-col-2xs-6,
  .pi-grid-small-margins .pi-col-2xs-7,
  .pi-grid-small-margins .pi-col-2xs-8,
  .pi-grid-small-margins .pi-col-2xs-9,
  .pi-grid-small-margins .pi-col-2xs-10,
  .pi-grid-small-margins .pi-col-2xs-11,
  .pi-grid-small-margins .pi-col-2xs-12,
  .pi-grid-small-margins .pi-col-xs-1,
  .pi-grid-small-margins .pi-col-xs-2,
  .pi-grid-small-margins .pi-col-xs-3,
  .pi-grid-small-margins .pi-col-xs-4,
  .pi-grid-small-margins .pi-col-xs-5,
  .pi-grid-small-margins .pi-col-xs-5-cell,
  .pi-grid-small-margins .pi-col-xs-6,
  .pi-grid-small-margins .pi-col-xs-7,
  .pi-grid-small-margins .pi-col-xs-8,
  .pi-grid-small-margins .pi-col-xs-9,
  .pi-grid-small-margins .pi-col-xs-10,
  .pi-grid-small-margins .pi-col-xs-11,
  .pi-grid-small-margins .pi-col-xs-12,
  .pi-grid-small-margins .pi-col-sm-1,
  .pi-grid-small-margins .pi-col-sm-2,
  .pi-grid-small-margins .pi-col-sm-3,
  .pi-grid-small-margins .pi-col-sm-4,
  .pi-grid-small-margins .pi-col-sm-5,
  .pi-grid-small-margins .pi-col-sm-5-cell,
  .pi-grid-small-margins .pi-col-sm-6,
  .pi-grid-small-margins .pi-col-sm-7,
  .pi-grid-small-margins .pi-col-sm-8,
  .pi-grid-small-margins .pi-col-sm-9,
  .pi-grid-small-margins .pi-col-sm-10,
  .pi-grid-small-margins .pi-col-sm-11,
  .pi-grid-small-margins .pi-col-sm-12,
  .pi-grid-small-margins .pi-col-md-1,
  .pi-grid-small-margins .pi-col-md-2,
  .pi-grid-small-margins .pi-col-md-3,
  .pi-grid-small-margins .pi-col-md-4,
  .pi-grid-small-margins .pi-col-md-5,
  .pi-grid-small-margins .pi-col-md-5-cell,
  .pi-grid-small-margins .pi-col-md-6,
  .pi-grid-small-margins .pi-col-md-7,
  .pi-grid-small-margins .pi-col-md-8,
  .pi-grid-small-margins .pi-col-md-9,
  .pi-grid-small-margins .pi-col-md-10,
  .pi-grid-small-margins .pi-col-md-11,
  .pi-grid-small-margins .pi-col-md-12,
  .pi-grid-small-margins .pi-col-lg-1,
  .pi-grid-small-margins .pi-col-lg-2,
  .pi-grid-small-margins .pi-col-lg-3,
  .pi-grid-small-margins .pi-col-lg-4,
  .pi-grid-small-margins .pi-col-lg-5,
  .pi-grid-small-margins .pi-col-lg-5-cell,
  .pi-grid-small-margins .pi-col-lg-6,
  .pi-grid-small-margins .pi-col-lg-7,
  .pi-grid-small-margins .pi-col-lg-8,
  .pi-grid-small-margins .pi-col-lg-9,
  .pi-grid-small-margins .pi-col-lg-10,
  .pi-grid-small-margins .pi-col-lg-11,
  .pi-grid-small-margins .pi-col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .pi-grid-big-margins {
    margin-left: -16px;
    margin-right: -16px;
  }
  .pi-grid-big-margins .pi-col-3xs-1,
  .pi-grid-big-margins .pi-col-3xs-2,
  .pi-grid-big-margins .pi-col-3xs-3,
  .pi-grid-big-margins .pi-col-3xs-4,
  .pi-grid-big-margins .pi-col-3xs-5,
  .pi-grid-big-margins .pi-col-3xs-5-cell,
  .pi-grid-big-margins .pi-col-3xs-6,
  .pi-grid-big-margins .pi-col-3xs-7,
  .pi-grid-big-margins .pi-col-3xs-8,
  .pi-grid-big-margins .pi-col-3xs-9,
  .pi-grid-big-margins .pi-col-3xs-10,
  .pi-grid-big-margins .pi-col-3xs-11,
  .pi-grid-big-margins .pi-col-3xs-12,
  .pi-grid-big-margins .pi-col-2xs-1,
  .pi-grid-big-margins .pi-col-2xs-2,
  .pi-grid-big-margins .pi-col-2xs-3,
  .pi-grid-big-margins .pi-col-2xs-4,
  .pi-grid-big-margins .pi-col-2xs-5,
  .pi-grid-big-margins .pi-col-2xs-5-cell,
  .pi-grid-big-margins .pi-col-2xs-6,
  .pi-grid-big-margins .pi-col-2xs-7,
  .pi-grid-big-margins .pi-col-2xs-8,
  .pi-grid-big-margins .pi-col-2xs-9,
  .pi-grid-big-margins .pi-col-2xs-10,
  .pi-grid-big-margins .pi-col-2xs-11,
  .pi-grid-big-margins .pi-col-2xs-12,
  .pi-grid-big-margins .pi-col-xs-1,
  .pi-grid-big-margins .pi-col-xs-2,
  .pi-grid-big-margins .pi-col-xs-3,
  .pi-grid-big-margins .pi-col-xs-4,
  .pi-grid-big-margins .pi-col-xs-5,
  .pi-grid-big-margins .pi-col-xs-5-cell,
  .pi-grid-big-margins .pi-col-xs-6,
  .pi-grid-big-margins .pi-col-xs-7,
  .pi-grid-big-margins .pi-col-xs-8,
  .pi-grid-big-margins .pi-col-xs-9,
  .pi-grid-big-margins .pi-col-xs-10,
  .pi-grid-big-margins .pi-col-xs-11,
  .pi-grid-big-margins .pi-col-xs-12,
  .pi-grid-big-margins .pi-col-sm-1,
  .pi-grid-big-margins .pi-col-sm-2,
  .pi-grid-big-margins .pi-col-sm-3,
  .pi-grid-big-margins .pi-col-sm-4,
  .pi-grid-big-margins .pi-col-sm-5,
  .pi-grid-big-margins .pi-col-sm-5-cell,
  .pi-grid-big-margins .pi-col-sm-6,
  .pi-grid-big-margins .pi-col-sm-7,
  .pi-grid-big-margins .pi-col-sm-8,
  .pi-grid-big-margins .pi-col-sm-9,
  .pi-grid-big-margins .pi-col-sm-10,
  .pi-grid-big-margins .pi-col-sm-11,
  .pi-grid-big-margins .pi-col-sm-12,
  .pi-grid-big-margins .pi-col-md-1,
  .pi-grid-big-margins .pi-col-md-2,
  .pi-grid-big-margins .pi-col-md-3,
  .pi-grid-big-margins .pi-col-md-4,
  .pi-grid-big-margins .pi-col-md-5,
  .pi-grid-big-margins .pi-col-md-5-cell,
  .pi-grid-big-margins .pi-col-md-6,
  .pi-grid-big-margins .pi-col-md-7,
  .pi-grid-big-margins .pi-col-md-8,
  .pi-grid-big-margins .pi-col-md-9,
  .pi-grid-big-margins .pi-col-md-10,
  .pi-grid-big-margins .pi-col-md-11,
  .pi-grid-big-margins .pi-col-md-12,
  .pi-grid-big-margins .pi-col-lg-1,
  .pi-grid-big-margins .pi-col-lg-2,
  .pi-grid-big-margins .pi-col-lg-3,
  .pi-grid-big-margins .pi-col-lg-4,
  .pi-grid-big-margins .pi-col-lg-5,
  .pi-grid-big-margins .pi-col-lg-5-cell,
  .pi-grid-big-margins .pi-col-lg-6,
  .pi-grid-big-margins .pi-col-lg-7,
  .pi-grid-big-margins .pi-col-lg-8,
  .pi-grid-big-margins .pi-col-lg-9,
  .pi-grid-big-margins .pi-col-lg-10,
  .pi-grid-big-margins .pi-col-lg-11,
  .pi-grid-big-margins .pi-col-lg-12 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.pi-section-white .pi-col-3xs-1,
.pi-section-white .pi-col-3xs-2,
.pi-section-white .pi-col-3xs-3,
.pi-section-white .pi-col-3xs-4,
.pi-section-white .pi-col-3xs-5,
.pi-section-white .pi-col-3xs-5-cell,
.pi-section-white .pi-col-3xs-6,
.pi-section-white .pi-col-3xs-7,
.pi-section-white .pi-col-3xs-8,
.pi-section-white .pi-col-3xs-9,
.pi-section-white .pi-col-3xs-10,
.pi-section-white .pi-col-3xs-11,
.pi-section-white .pi-col-3xs-12,
.pi-section-white .pi-col-2xs-1,
.pi-section-white .pi-col-2xs-2,
.pi-section-white .pi-col-2xs-3,
.pi-section-white .pi-col-2xs-4,
.pi-section-white .pi-col-2xs-5,
.pi-section-white .pi-col-2xs-5-cell,
.pi-section-white .pi-col-2xs-6,
.pi-section-white .pi-col-2xs-7,
.pi-section-white .pi-col-2xs-8,
.pi-section-white .pi-col-2xs-9,
.pi-section-white .pi-col-2xs-10,
.pi-section-white .pi-col-2xs-11,
.pi-section-white .pi-col-2xs-12,
.pi-section-white .pi-col-xs-1,
.pi-section-white .pi-col-xs-2,
.pi-section-white .pi-col-xs-3,
.pi-section-white .pi-col-xs-4,
.pi-section-white .pi-col-xs-5,
.pi-section-white .pi-col-xs-5-cell,
.pi-section-white .pi-col-xs-6,
.pi-section-white .pi-col-xs-7,
.pi-section-white .pi-col-xs-8,
.pi-section-white .pi-col-xs-9,
.pi-section-white .pi-col-xs-10,
.pi-section-white .pi-col-xs-11,
.pi-section-white .pi-col-xs-12,
.pi-section-white .pi-col-sm-1,
.pi-section-white .pi-col-sm-2,
.pi-section-white .pi-col-sm-3,
.pi-section-white .pi-col-sm-4,
.pi-section-white .pi-col-sm-5,
.pi-section-white .pi-col-sm-5-cell,
.pi-section-white .pi-col-sm-6,
.pi-section-white .pi-col-sm-7,
.pi-section-white .pi-col-sm-8,
.pi-section-white .pi-col-sm-9,
.pi-section-white .pi-col-sm-10,
.pi-section-white .pi-col-sm-11,
.pi-section-white .pi-col-sm-12,
.pi-section-white .pi-col-md-1,
.pi-section-white .pi-col-md-2,
.pi-section-white .pi-col-md-3,
.pi-section-white .pi-col-md-4,
.pi-section-white .pi-col-md-5,
.pi-section-white .pi-col-md-5-cell,
.pi-section-white .pi-col-md-6,
.pi-section-white .pi-col-md-7,
.pi-section-white .pi-col-md-8,
.pi-section-white .pi-col-md-9,
.pi-section-white .pi-col-md-10,
.pi-section-white .pi-col-md-11,
.pi-section-white .pi-col-md-12,
.pi-section-white .pi-col-lg-1,
.pi-section-white .pi-col-lg-2,
.pi-section-white .pi-col-lg-3,
.pi-section-white .pi-col-lg-4,
.pi-section-white .pi-col-lg-5,
.pi-section-white .pi-col-lg-5-cell,
.pi-section-white .pi-col-lg-6,
.pi-section-white .pi-col-lg-7,
.pi-section-white .pi-col-lg-8,
.pi-section-white .pi-col-lg-9,
.pi-section-white .pi-col-lg-10,
.pi-section-white .pi-col-lg-11,
.pi-section-white .pi-col-lg-12 {
  border-color: #eef1f1;
}
.pi-section-grey .pi-col-3xs-1,
.pi-section-grey .pi-col-3xs-2,
.pi-section-grey .pi-col-3xs-3,
.pi-section-grey .pi-col-3xs-4,
.pi-section-grey .pi-col-3xs-5,
.pi-section-grey .pi-col-3xs-5-cell,
.pi-section-grey .pi-col-3xs-6,
.pi-section-grey .pi-col-3xs-7,
.pi-section-grey .pi-col-3xs-8,
.pi-section-grey .pi-col-3xs-9,
.pi-section-grey .pi-col-3xs-10,
.pi-section-grey .pi-col-3xs-11,
.pi-section-grey .pi-col-3xs-12,
.pi-section-grey .pi-col-2xs-1,
.pi-section-grey .pi-col-2xs-2,
.pi-section-grey .pi-col-2xs-3,
.pi-section-grey .pi-col-2xs-4,
.pi-section-grey .pi-col-2xs-5,
.pi-section-grey .pi-col-2xs-5-cell,
.pi-section-grey .pi-col-2xs-6,
.pi-section-grey .pi-col-2xs-7,
.pi-section-grey .pi-col-2xs-8,
.pi-section-grey .pi-col-2xs-9,
.pi-section-grey .pi-col-2xs-10,
.pi-section-grey .pi-col-2xs-11,
.pi-section-grey .pi-col-2xs-12,
.pi-section-grey .pi-col-xs-1,
.pi-section-grey .pi-col-xs-2,
.pi-section-grey .pi-col-xs-3,
.pi-section-grey .pi-col-xs-4,
.pi-section-grey .pi-col-xs-5,
.pi-section-grey .pi-col-xs-5-cell,
.pi-section-grey .pi-col-xs-6,
.pi-section-grey .pi-col-xs-7,
.pi-section-grey .pi-col-xs-8,
.pi-section-grey .pi-col-xs-9,
.pi-section-grey .pi-col-xs-10,
.pi-section-grey .pi-col-xs-11,
.pi-section-grey .pi-col-xs-12,
.pi-section-grey .pi-col-sm-1,
.pi-section-grey .pi-col-sm-2,
.pi-section-grey .pi-col-sm-3,
.pi-section-grey .pi-col-sm-4,
.pi-section-grey .pi-col-sm-5,
.pi-section-grey .pi-col-sm-5-cell,
.pi-section-grey .pi-col-sm-6,
.pi-section-grey .pi-col-sm-7,
.pi-section-grey .pi-col-sm-8,
.pi-section-grey .pi-col-sm-9,
.pi-section-grey .pi-col-sm-10,
.pi-section-grey .pi-col-sm-11,
.pi-section-grey .pi-col-sm-12,
.pi-section-grey .pi-col-md-1,
.pi-section-grey .pi-col-md-2,
.pi-section-grey .pi-col-md-3,
.pi-section-grey .pi-col-md-4,
.pi-section-grey .pi-col-md-5,
.pi-section-grey .pi-col-md-5-cell,
.pi-section-grey .pi-col-md-6,
.pi-section-grey .pi-col-md-7,
.pi-section-grey .pi-col-md-8,
.pi-section-grey .pi-col-md-9,
.pi-section-grey .pi-col-md-10,
.pi-section-grey .pi-col-md-11,
.pi-section-grey .pi-col-md-12,
.pi-section-grey .pi-col-lg-1,
.pi-section-grey .pi-col-lg-2,
.pi-section-grey .pi-col-lg-3,
.pi-section-grey .pi-col-lg-4,
.pi-section-grey .pi-col-lg-5,
.pi-section-grey .pi-col-lg-5-cell,
.pi-section-grey .pi-col-lg-6,
.pi-section-grey .pi-col-lg-7,
.pi-section-grey .pi-col-lg-8,
.pi-section-grey .pi-col-lg-9,
.pi-section-grey .pi-col-lg-10,
.pi-section-grey .pi-col-lg-11,
.pi-section-grey .pi-col-lg-12 {
  border-color: #e6eaea;
}
.pi-section-base .pi-col-3xs-1,
.pi-section-base .pi-col-3xs-2,
.pi-section-base .pi-col-3xs-3,
.pi-section-base .pi-col-3xs-4,
.pi-section-base .pi-col-3xs-5,
.pi-section-base .pi-col-3xs-5-cell,
.pi-section-base .pi-col-3xs-6,
.pi-section-base .pi-col-3xs-7,
.pi-section-base .pi-col-3xs-8,
.pi-section-base .pi-col-3xs-9,
.pi-section-base .pi-col-3xs-10,
.pi-section-base .pi-col-3xs-11,
.pi-section-base .pi-col-3xs-12,
.pi-section-base .pi-col-2xs-1,
.pi-section-base .pi-col-2xs-2,
.pi-section-base .pi-col-2xs-3,
.pi-section-base .pi-col-2xs-4,
.pi-section-base .pi-col-2xs-5,
.pi-section-base .pi-col-2xs-5-cell,
.pi-section-base .pi-col-2xs-6,
.pi-section-base .pi-col-2xs-7,
.pi-section-base .pi-col-2xs-8,
.pi-section-base .pi-col-2xs-9,
.pi-section-base .pi-col-2xs-10,
.pi-section-base .pi-col-2xs-11,
.pi-section-base .pi-col-2xs-12,
.pi-section-base .pi-col-xs-1,
.pi-section-base .pi-col-xs-2,
.pi-section-base .pi-col-xs-3,
.pi-section-base .pi-col-xs-4,
.pi-section-base .pi-col-xs-5,
.pi-section-base .pi-col-xs-5-cell,
.pi-section-base .pi-col-xs-6,
.pi-section-base .pi-col-xs-7,
.pi-section-base .pi-col-xs-8,
.pi-section-base .pi-col-xs-9,
.pi-section-base .pi-col-xs-10,
.pi-section-base .pi-col-xs-11,
.pi-section-base .pi-col-xs-12,
.pi-section-base .pi-col-sm-1,
.pi-section-base .pi-col-sm-2,
.pi-section-base .pi-col-sm-3,
.pi-section-base .pi-col-sm-4,
.pi-section-base .pi-col-sm-5,
.pi-section-base .pi-col-sm-5-cell,
.pi-section-base .pi-col-sm-6,
.pi-section-base .pi-col-sm-7,
.pi-section-base .pi-col-sm-8,
.pi-section-base .pi-col-sm-9,
.pi-section-base .pi-col-sm-10,
.pi-section-base .pi-col-sm-11,
.pi-section-base .pi-col-sm-12,
.pi-section-base .pi-col-md-1,
.pi-section-base .pi-col-md-2,
.pi-section-base .pi-col-md-3,
.pi-section-base .pi-col-md-4,
.pi-section-base .pi-col-md-5,
.pi-section-base .pi-col-md-5-cell,
.pi-section-base .pi-col-md-6,
.pi-section-base .pi-col-md-7,
.pi-section-base .pi-col-md-8,
.pi-section-base .pi-col-md-9,
.pi-section-base .pi-col-md-10,
.pi-section-base .pi-col-md-11,
.pi-section-base .pi-col-md-12,
.pi-section-base .pi-col-lg-1,
.pi-section-base .pi-col-lg-2,
.pi-section-base .pi-col-lg-3,
.pi-section-base .pi-col-lg-4,
.pi-section-base .pi-col-lg-5,
.pi-section-base .pi-col-lg-5-cell,
.pi-section-base .pi-col-lg-6,
.pi-section-base .pi-col-lg-7,
.pi-section-base .pi-col-lg-8,
.pi-section-base .pi-col-lg-9,
.pi-section-base .pi-col-lg-10,
.pi-section-base .pi-col-lg-11,
.pi-section-base .pi-col-lg-12 {
  border-color: #4076b5;
}
.pi-section-dark .pi-col-3xs-1,
.pi-section-dark .pi-col-3xs-2,
.pi-section-dark .pi-col-3xs-3,
.pi-section-dark .pi-col-3xs-4,
.pi-section-dark .pi-col-3xs-5,
.pi-section-dark .pi-col-3xs-5-cell,
.pi-section-dark .pi-col-3xs-6,
.pi-section-dark .pi-col-3xs-7,
.pi-section-dark .pi-col-3xs-8,
.pi-section-dark .pi-col-3xs-9,
.pi-section-dark .pi-col-3xs-10,
.pi-section-dark .pi-col-3xs-11,
.pi-section-dark .pi-col-3xs-12,
.pi-section-dark .pi-col-2xs-1,
.pi-section-dark .pi-col-2xs-2,
.pi-section-dark .pi-col-2xs-3,
.pi-section-dark .pi-col-2xs-4,
.pi-section-dark .pi-col-2xs-5,
.pi-section-dark .pi-col-2xs-5-cell,
.pi-section-dark .pi-col-2xs-6,
.pi-section-dark .pi-col-2xs-7,
.pi-section-dark .pi-col-2xs-8,
.pi-section-dark .pi-col-2xs-9,
.pi-section-dark .pi-col-2xs-10,
.pi-section-dark .pi-col-2xs-11,
.pi-section-dark .pi-col-2xs-12,
.pi-section-dark .pi-col-xs-1,
.pi-section-dark .pi-col-xs-2,
.pi-section-dark .pi-col-xs-3,
.pi-section-dark .pi-col-xs-4,
.pi-section-dark .pi-col-xs-5,
.pi-section-dark .pi-col-xs-5-cell,
.pi-section-dark .pi-col-xs-6,
.pi-section-dark .pi-col-xs-7,
.pi-section-dark .pi-col-xs-8,
.pi-section-dark .pi-col-xs-9,
.pi-section-dark .pi-col-xs-10,
.pi-section-dark .pi-col-xs-11,
.pi-section-dark .pi-col-xs-12,
.pi-section-dark .pi-col-sm-1,
.pi-section-dark .pi-col-sm-2,
.pi-section-dark .pi-col-sm-3,
.pi-section-dark .pi-col-sm-4,
.pi-section-dark .pi-col-sm-5,
.pi-section-dark .pi-col-sm-5-cell,
.pi-section-dark .pi-col-sm-6,
.pi-section-dark .pi-col-sm-7,
.pi-section-dark .pi-col-sm-8,
.pi-section-dark .pi-col-sm-9,
.pi-section-dark .pi-col-sm-10,
.pi-section-dark .pi-col-sm-11,
.pi-section-dark .pi-col-sm-12,
.pi-section-dark .pi-col-md-1,
.pi-section-dark .pi-col-md-2,
.pi-section-dark .pi-col-md-3,
.pi-section-dark .pi-col-md-4,
.pi-section-dark .pi-col-md-5,
.pi-section-dark .pi-col-md-5-cell,
.pi-section-dark .pi-col-md-6,
.pi-section-dark .pi-col-md-7,
.pi-section-dark .pi-col-md-8,
.pi-section-dark .pi-col-md-9,
.pi-section-dark .pi-col-md-10,
.pi-section-dark .pi-col-md-11,
.pi-section-dark .pi-col-md-12,
.pi-section-dark .pi-col-lg-1,
.pi-section-dark .pi-col-lg-2,
.pi-section-dark .pi-col-lg-3,
.pi-section-dark .pi-col-lg-4,
.pi-section-dark .pi-col-lg-5,
.pi-section-dark .pi-col-lg-5-cell,
.pi-section-dark .pi-col-lg-6,
.pi-section-dark .pi-col-lg-7,
.pi-section-dark .pi-col-lg-8,
.pi-section-dark .pi-col-lg-9,
.pi-section-dark .pi-col-lg-10,
.pi-section-dark .pi-col-lg-11,
.pi-section-dark .pi-col-lg-12 {
  border-color: #2e343a;
}
.pi-section-parallax .pi-col-3xs-1,
.pi-section-parallax .pi-col-3xs-2,
.pi-section-parallax .pi-col-3xs-3,
.pi-section-parallax .pi-col-3xs-4,
.pi-section-parallax .pi-col-3xs-5,
.pi-section-parallax .pi-col-3xs-5-cell,
.pi-section-parallax .pi-col-3xs-6,
.pi-section-parallax .pi-col-3xs-7,
.pi-section-parallax .pi-col-3xs-8,
.pi-section-parallax .pi-col-3xs-9,
.pi-section-parallax .pi-col-3xs-10,
.pi-section-parallax .pi-col-3xs-11,
.pi-section-parallax .pi-col-3xs-12,
.pi-section-parallax .pi-col-2xs-1,
.pi-section-parallax .pi-col-2xs-2,
.pi-section-parallax .pi-col-2xs-3,
.pi-section-parallax .pi-col-2xs-4,
.pi-section-parallax .pi-col-2xs-5,
.pi-section-parallax .pi-col-2xs-5-cell,
.pi-section-parallax .pi-col-2xs-6,
.pi-section-parallax .pi-col-2xs-7,
.pi-section-parallax .pi-col-2xs-8,
.pi-section-parallax .pi-col-2xs-9,
.pi-section-parallax .pi-col-2xs-10,
.pi-section-parallax .pi-col-2xs-11,
.pi-section-parallax .pi-col-2xs-12,
.pi-section-parallax .pi-col-xs-1,
.pi-section-parallax .pi-col-xs-2,
.pi-section-parallax .pi-col-xs-3,
.pi-section-parallax .pi-col-xs-4,
.pi-section-parallax .pi-col-xs-5,
.pi-section-parallax .pi-col-xs-5-cell,
.pi-section-parallax .pi-col-xs-6,
.pi-section-parallax .pi-col-xs-7,
.pi-section-parallax .pi-col-xs-8,
.pi-section-parallax .pi-col-xs-9,
.pi-section-parallax .pi-col-xs-10,
.pi-section-parallax .pi-col-xs-11,
.pi-section-parallax .pi-col-xs-12,
.pi-section-parallax .pi-col-sm-1,
.pi-section-parallax .pi-col-sm-2,
.pi-section-parallax .pi-col-sm-3,
.pi-section-parallax .pi-col-sm-4,
.pi-section-parallax .pi-col-sm-5,
.pi-section-parallax .pi-col-sm-5-cell,
.pi-section-parallax .pi-col-sm-6,
.pi-section-parallax .pi-col-sm-7,
.pi-section-parallax .pi-col-sm-8,
.pi-section-parallax .pi-col-sm-9,
.pi-section-parallax .pi-col-sm-10,
.pi-section-parallax .pi-col-sm-11,
.pi-section-parallax .pi-col-sm-12,
.pi-section-parallax .pi-col-md-1,
.pi-section-parallax .pi-col-md-2,
.pi-section-parallax .pi-col-md-3,
.pi-section-parallax .pi-col-md-4,
.pi-section-parallax .pi-col-md-5,
.pi-section-parallax .pi-col-md-5-cell,
.pi-section-parallax .pi-col-md-6,
.pi-section-parallax .pi-col-md-7,
.pi-section-parallax .pi-col-md-8,
.pi-section-parallax .pi-col-md-9,
.pi-section-parallax .pi-col-md-10,
.pi-section-parallax .pi-col-md-11,
.pi-section-parallax .pi-col-md-12,
.pi-section-parallax .pi-col-lg-1,
.pi-section-parallax .pi-col-lg-2,
.pi-section-parallax .pi-col-lg-3,
.pi-section-parallax .pi-col-lg-4,
.pi-section-parallax .pi-col-lg-5,
.pi-section-parallax .pi-col-lg-5-cell,
.pi-section-parallax .pi-col-lg-6,
.pi-section-parallax .pi-col-lg-7,
.pi-section-parallax .pi-col-lg-8,
.pi-section-parallax .pi-col-lg-9,
.pi-section-parallax .pi-col-lg-10,
.pi-section-parallax .pi-col-lg-11,
.pi-section-parallax .pi-col-lg-12 {
  border-color: #242427;
}
