/*ony for one corner, use this variable several time for other corners*/
.pi-no-bullets {
  list-style: none;
  padding-left: 0;
}
.pi-list-with-icons,
.pi-bullets-circle,
.pi-bullets-square {
  list-style: none;
  padding-left: 0;
}
.pi-list-with-icons li,
.pi-bullets-circle li,
.pi-bullets-square li {
  position: relative;
  padding-left: 22px;
}
.pi-list-with-icons li .pi-bullet-icon,
.pi-bullets-circle li .pi-bullet-icon,
.pi-bullets-square li .pi-bullet-icon,
.pi-list-with-icons li .pi-bullet-icon-img,
.pi-bullets-circle li .pi-bullet-icon-img,
.pi-bullets-square li .pi-bullet-icon-img {
  position: absolute;
  left: 0;
}
.pi-list-with-icons li .pi-bullet-icon,
.pi-bullets-circle li .pi-bullet-icon,
.pi-bullets-square li .pi-bullet-icon {
  top: 0px;
  font-size: 14px;
}
.pi-list-with-icons li .pi-bullet-icon-img,
.pi-bullets-circle li .pi-bullet-icon-img,
.pi-bullets-square li .pi-bullet-icon-img {
  top: -1px;
}
.pi-bullets-circle li,
.pi-bullets-square li {
  padding-left: 35px;
  margin: 12px 0;
}
.pi-bullets-circle li .pi-bullet-icon,
.pi-bullets-square li .pi-bullet-icon,
.pi-bullets-circle li .pi-bullet-icon-img,
.pi-bullets-square li .pi-bullet-icon-img {
  width: 26px;
  height: 26px;
  font-size: 14px;
  overflow: hidden;
  line-height: 26px;
  top: -1px;
  text-align: center;
}
.pi-bullets-circle li .pi-bullet-icon-img,
.pi-bullets-square li .pi-bullet-icon-img {
  line-height: 26px;
}
.pi-bullets-circle.pi-bullets-contur li .pi-bullet-icon,
.pi-bullets-square.pi-bullets-contur li .pi-bullet-icon,
.pi-bullets-circle.pi-bullets-contur-dark li .pi-bullet-icon,
.pi-bullets-square.pi-bullets-contur-dark li .pi-bullet-icon,
.pi-bullets-circle.pi-bullets-contur-base li .pi-bullet-icon,
.pi-bullets-square.pi-bullets-contur-base li .pi-bullet-icon,
.pi-bullets-circle.pi-bullets-contur li .pi-bullet-icon-img,
.pi-bullets-square.pi-bullets-contur li .pi-bullet-icon-img,
.pi-bullets-circle.pi-bullets-contur-dark li .pi-bullet-icon-img,
.pi-bullets-square.pi-bullets-contur-dark li .pi-bullet-icon-img,
.pi-bullets-circle.pi-bullets-contur-base li .pi-bullet-icon-img,
.pi-bullets-square.pi-bullets-contur-base li .pi-bullet-icon-img {
  line-height: 24px;
  border: 1px solid;
}
.pi-bullets-circle.pi-bullets-contur li .pi-bullet-icon-img,
.pi-bullets-square.pi-bullets-contur li .pi-bullet-icon-img,
.pi-bullets-circle.pi-bullets-contur-dark li .pi-bullet-icon-img,
.pi-bullets-square.pi-bullets-contur-dark li .pi-bullet-icon-img,
.pi-bullets-circle.pi-bullets-contur-base li .pi-bullet-icon-img,
.pi-bullets-square.pi-bullets-contur-base li .pi-bullet-icon-img {
  line-height: 24px;
}
.pi-bullets-square .pi-bullet-icon,
.pi-bullets-square .pi-bullet-icon-img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pi-bullets-circle .pi-bullet-icon,
.pi-bullets-circle .pi-bullet-icon-img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.pi-list-dashed li {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  position: relative;
}
.pi-list-dashed.pi-list-with-icons .pi-bullet-icon {
  top: 9px;
}
.pi-list-dashed.pi-list-with-icons .pi-bullet-icon-img {
  top: 10px;
}
.pi-list-dashed.pi-bullets-circle .pi-bullet-icon,
.pi-list-dashed.pi-bullets-square .pi-bullet-icon,
.pi-list-dashed.pi-bullets-circle .pi-bullet-icon-img,
.pi-list-dashed.pi-bullets-square .pi-bullet-icon-img {
  top: 10px;
}
.pi-list-big-margins li {
  margin: 18px 0;
}
.pi-list-big-margins li:first-child {
  margin-top: 0;
}
.pi-list-big-margins li:last-child {
  margin-bottom: 0;
}
.pi-list-menu a {
  padding: 9px 12px 10px 23px;
  line-height: 1.4em;
}
.pi-list-menu li {
  padding: 0 !important;
}
.pi-list-menu li:after {
  top: 12px !important;
  left: 10px !important;
}
.pi-list-icons-plus li,
.pi-list-icons-minus li,
.pi-list-icons-ok li,
.pi-list-icons-dot li,
.pi-list-icons-heart li,
.pi-list-icons-link li,
.pi-list-icons-star li,
.pi-list-icons-help li,
.pi-list-icons-right-open li,
.pi-list-icons-twitter li,
.pi-list-icons-right-dir li,
.pi-list-icons-news li {
  padding-left: 23px;
}
.pi-list-icons-plus li:after,
.pi-list-icons-minus li:after,
.pi-list-icons-ok li:after,
.pi-list-icons-dot li:after,
.pi-list-icons-heart li:after,
.pi-list-icons-link li:after,
.pi-list-icons-star li:after,
.pi-list-icons-help li:after,
.pi-list-icons-right-open li:after,
.pi-list-icons-twitter li:after,
.pi-list-icons-right-dir li:after,
.pi-list-icons-news li:after {
  font-family: fontello;
  display: block;
  position: absolute;
  top: 1px;
  left: 0px;
  font-size: 14px;
}
.pi-list-icons-plus.pi-list-dashed li:after,
.pi-list-icons-minus.pi-list-dashed li:after,
.pi-list-icons-ok.pi-list-dashed li:after,
.pi-list-icons-dot.pi-list-dashed li:after,
.pi-list-icons-heart.pi-list-dashed li:after,
.pi-list-icons-link.pi-list-dashed li:after,
.pi-list-icons-star.pi-list-dashed li:after,
.pi-list-icons-help.pi-list-dashed li:after,
.pi-list-icons-right-open.pi-list-dashed li:after,
.pi-list-icons-twitter.pi-list-dashed li:after,
.pi-list-icons-right-dir.pi-list-dashed li:after,
.pi-list-icons-news.pi-list-dashed li:after {
  top: 9px;
}
.pi-list-icons-right-open li,
.pi-list-icons-right-dir li {
  padding-left: 16px;
}
.pi-list-icons-twitter li {
  padding-left: 25px;
}
.pi-list-icons-help li {
  padding-left: 20px;
}
.pi-list-icons-dot li {
  padding-left: 18px;
}
.pi-list-icons-plus li:after {
  content: "\e918";
  color: #4BD867;
  font-size: 17px;
}
.pi-list-icons-twitter li:after {
  content: "\e84b";
  font-size: 16px;
  color: #DEE1E6;
}
.pi-list-icons-minus li:after {
  content: "\e91b";
  color: #F37341;
  font-size: 17px;
}
.pi-list-icons-help li:after {
  content: "\e91e";
}
.pi-list-icons-ok li:after {
  content: "\e914";
  font-size: 16px;
}
.pi-list-icons-dot li:after {
  content: "\e817";
  font-size: 22px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.pi-list-icons-heart li:after {
  content: "\e908";
  color: #F37341;
}
.pi-list-icons-star li:after {
  content: "\e90a";
  color: #F7CA56;
}
.pi-list-icons-link li:after {
  content: "\e924";
  font-size: 16px;
}
.pi-list-icons-right-open li:after {
  content: "\e8c4";
}
.pi-list-icons-right-dir li:after {
  content: "\e8d4";
}
.pi-list-icons-news li:after {
  content: "\e89c";
}
.pi-icon-box .pi-icon-box-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  line-height: 30px;
  margin-top: 3px;
  float: left;
  transition: all 0.3s ease-in-out;
}
.pi-icon-box .pi-icon-box-icon img {
  max-width: 30px;
  max-height: 30px;
}
.pi-icon-box .pi-icon-box-content {
  margin-left: 50px;
}
.pi-icon-box .pi-icon-box-icon-circle,
.pi-icon-box .pi-icon-box-icon-square {
  width: 48px;
  height: 48px;
  line-height: 46px;
  font-size: 26px;
  margin-top: 6px;
}
.pi-icon-box .pi-icon-box-icon-circle img,
.pi-icon-box .pi-icon-box-icon-square img {
  max-width: 28px;
  max-height: 28px;
  margin-top: -5px;
}
.pi-icon-box .pi-icon-box-content-2 {
  margin-left: 68px;
}
.pi-icon-box .pi-icon-box-icon-square {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pi-icon-box .pi-icon-box-icon-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.pi-icon-box-icon-big .pi-icon-box-icon {
  width: 56px;
  height: 56px;
  font-size: 56px;
  line-height: 56px;
  margin-top: 3px;
}
.pi-icon-box-icon-big .pi-icon-box-icon img {
  max-width: 56px;
  max-height: 56px;
}
.pi-icon-box-icon-big .pi-icon-box-content {
  margin-left: 76px;
}
.pi-icon-box-icon-big .pi-icon-box-icon-circle,
.pi-icon-box-icon-big .pi-icon-box-icon-square {
  width: 70px;
  height: 70px;
  font-size: 30px;
  line-height: 68px;
  margin-top: 6px;
}
.pi-icon-box-icon-big .pi-icon-box-icon-circle img,
.pi-icon-box-icon-big .pi-icon-box-icon-square img {
  max-width: 40px;
  max-height: 40px;
  margin-top: -8px;
}
.pi-icon-box-icon-big .pi-icon-box-content-2 {
  margin-left: 90px;
}
.pi-icon-box-vertical .pi-icon-box-icon {
  width: 44px;
  height: 44px;
  text-align: center;
  vertical-align: middle;
  font-size: 44px;
  line-height: 44px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.pi-icon-box-vertical .pi-icon-box-icon img {
  max-width: 44px;
  max-height: 44px;
  margin-top: -12px;
}
.pi-icon-box-vertical .pi-icon-box-icon-circle,
.pi-icon-box-vertical .pi-icon-box-icon-square {
  width: 60px;
  height: 60px;
  line-height: 58px;
  font-size: 32px;
}
.pi-icon-box-vertical .pi-icon-box-icon-circle img,
.pi-icon-box-vertical .pi-icon-box-icon-square img {
  max-width: 38px;
  max-height: 38px;
  margin-top: -8px;
}
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur-base,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur-base,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur-dark,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur-dark,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur-white,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur-white {
  border: 2px solid transparent;
  line-height: 54px;
}
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur img,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur img,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur-base img,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur-base img,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur-dark img,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur-dark img,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur-white img,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur-white img {
  max-width: 38px;
  max-height: 38px;
  margin-top: -8px;
}
.pi-icon-box-vertical .pi-icon-box-icon-square {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pi-icon-box-vertical .pi-icon-box-icon-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.pi-icon-box-vertical.pi-text-center .pi-icon-box-icon {
  margin-right: auto;
  margin-left: auto;
}
.pi-icon-box-vertical-icon-big .pi-icon-box-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
  line-height: 60px;
}
.pi-icon-box-vertical-icon-big .pi-icon-box-icon img {
  max-width: 70px;
  max-height: 70px;
}
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-circle,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-square {
  width: 90px;
  height: 90px;
  line-height: 88px;
  font-size: 38px;
}
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-circle img,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-square img {
  max-width: 36px;
  max-height: 36px;
}
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-circle.pi-icon-box-icon-contur,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-square.pi-icon-box-icon-contur,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-circle.pi-icon-box-icon-contur-base,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-square.pi-icon-box-icon-contur-base,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-circle.pi-icon-box-icon-contur-dark,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-square.pi-icon-box-icon-contur-dark,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-circle.pi-icon-box-icon-contur-white,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-square.pi-icon-box-icon-contur-white {
  border: 2px solid transparent;
  line-height: 84px;
}
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-circle.pi-icon-box-icon-contur img,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-square.pi-icon-box-icon-contur img,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-circle.pi-icon-box-icon-contur-base img,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-square.pi-icon-box-icon-contur-base img,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-circle.pi-icon-box-icon-contur-dark img,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-square.pi-icon-box-icon-contur-dark img,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-circle.pi-icon-box-icon-contur-white img,
.pi-icon-box-vertical-icon-big .pi-icon-box-icon-square.pi-icon-box-icon-contur-white img {
  max-width: 36px;
  max-height: 36px;
}
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon {
  width: 120px;
  height: 120px;
  font-size: 110px;
  line-height: 120px;
  margin-bottom: 25px;
}
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon img {
  max-width: 120px;
  max-height: 120px;
  margin-top: -30px;
}
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-circle,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-square {
  width: 130px;
  height: 130px;
  line-height: 128px;
  font-size: 50px;
}
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-circle img,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-square img {
  max-width: 80px;
  max-height: 80px;
  margin-top: -10px;
}
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-circle.pi-icon-box-icon-contur,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-square.pi-icon-box-icon-contur,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-circle.pi-icon-box-icon-contur-base,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-square.pi-icon-box-icon-contur-base,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-circle.pi-icon-box-icon-contur-dark,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-square.pi-icon-box-icon-contur-dark,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-circle.pi-icon-box-icon-contur-white,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-square.pi-icon-box-icon-contur-white {
  border: 2px solid transparent;
  line-height: 124px;
}
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-circle.pi-icon-box-icon-contur img,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-square.pi-icon-box-icon-contur img,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-circle.pi-icon-box-icon-contur-base img,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-square.pi-icon-box-icon-contur-base img,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-circle.pi-icon-box-icon-contur-dark img,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-square.pi-icon-box-icon-contur-dark img,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-circle.pi-icon-box-icon-contur-white img,
.pi-icon-box-vertical-icon-bigger .pi-icon-box-icon-square.pi-icon-box-icon-contur-white img {
  max-width: 80px;
  max-height: 80px;
  margin-top: -18px;
}
.pi-section-white li .pi-bullet-icon,
.pi-section-white li .pi-bullet-icon-img {
  color: #4d5258;
}
.pi-section-white .pi-list-dashed li {
  border-bottom: 1px dashed #d6dfdf;
}
.pi-section-white .pi-list-dashed li:last-child {
  border-bottom: none;
}
.pi-section-white .pi-list-icons-right-open li:after,
.pi-section-white .pi-list-icons-news li:after,
.pi-section-white .pi-list-icons-right-dir li:after {
  color: #cccdd3;
}
.pi-section-white .pi-list-menu li a {
  color: #4a5058;
}
.pi-section-white .pi-list-menu li a:hover {
  color: #609ddb;
  background: #f8fafa;
}
.pi-section-grey li .pi-bullet-icon,
.pi-section-grey li .pi-bullet-icon-img {
  color: #4d5258;
}
.pi-section-grey .pi-list-dashed li {
  border-bottom: 1px dashed #d6dfdf;
}
.pi-section-grey .pi-list-dashed li:last-child {
  border-bottom: none;
}
.pi-section-grey .pi-list-icons-right-open li:after,
.pi-section-grey .pi-list-icons-news li:after,
.pi-section-grey .pi-list-icons-right-dir li:after {
  color: #cccdd3;
}
.pi-section-grey .pi-list-menu li a {
  color: #4a5058;
}
.pi-section-grey .pi-list-menu li a:hover {
  color: #609ddb;
  background: #fafbfc;
}
.pi-section-base li .pi-bullet-icon,
.pi-section-base li .pi-bullet-icon-img {
  color: #ffffff;
}
.pi-section-base .pi-list-dashed li {
  border-bottom: 1px dashed #82b3df;
}
.pi-section-base .pi-list-dashed li:last-child {
  border-bottom: none;
}
.pi-section-base .pi-list-icons-right-open li:after,
.pi-section-base .pi-list-icons-news li:after,
.pi-section-base .pi-list-icons-right-dir li:after {
  color: #a3b5da;
}
.pi-section-base .pi-list-menu li a {
  color: #ffffff;
}
.pi-section-base .pi-list-menu li a:hover {
  color: #ffffff;
  background: #5891cc;
}
.pi-section-dark li .pi-bullet-icon,
.pi-section-dark li .pi-bullet-icon-img {
  color: #c6ccd0;
}
.pi-section-dark .pi-list-dashed li {
  border-bottom: 1px dashed #333941;
}
.pi-section-dark .pi-list-dashed li:last-child {
  border-bottom: none;
}
.pi-section-dark .pi-list-icons-right-open li:after,
.pi-section-dark .pi-list-icons-news li:after,
.pi-section-dark .pi-list-icons-right-dir li:after {
  color: #40464f;
}
.pi-section-dark .pi-list-menu li a {
  color: #abb3b9;
}
.pi-section-dark .pi-list-menu li a:hover {
  color: #609ddb;
  background: #32363c;
}
.pi-section-parallax li .pi-bullet-icon,
.pi-section-parallax li .pi-bullet-icon-img {
  color: #4d5258;
}
.pi-section-parallax .pi-list-dashed li {
  border-bottom: 1px dashed #d6dfdf;
}
.pi-section-parallax .pi-list-dashed li:last-child {
  border-bottom: none;
}
.pi-section-parallax .pi-list-icons-right-open li:after,
.pi-section-parallax .pi-list-icons-news li:after,
.pi-section-parallax .pi-list-icons-right-dir li:after {
  color: #cccdd3;
}
.pi-section-parallax .pi-list-menu li a {
  color: #abb3b9;
}
.pi-section-parallax .pi-list-menu li a:hover {
  color: #609ddb;
  background: #32363c;
}
.pi-bullets-circle li .pi-bullet-icon,
.pi-bullets-square li .pi-bullet-icon,
.pi-bullets-circle li .pi-bullet-icon-img,
.pi-bullets-square li .pi-bullet-icon-img {
  background: #f4f6f6;
  color: #4d5258;
}
.pi-bullets-base li .pi-bullet-icon,
.pi-bullets-base li .pi-bullet-icon-img {
  background: #68A5E2;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-bullets-dark li .pi-bullet-icon,
.pi-bullets-dark li .pi-bullet-icon-img {
  background: #2e343c;
  color: #e5eaea;
}
.pi-bullets-contur li .pi-bullet-icon,
.pi-bullets-contur li .pi-bullet-icon-img {
  background: none;
  color: #b1b9bf;
  text-shadow: none;
  border-color: #b1b9bf;
}
.pi-bullets-contur-dark li .pi-bullet-icon,
.pi-bullets-contur-dark li .pi-bullet-icon-img {
  background: none;
  color: #2e343c;
  text-shadow: none;
  border-color: #2e343c;
}
.pi-bullets-contur-base li .pi-bullet-icon,
.pi-bullets-contur-base li .pi-bullet-icon-img {
  background: none;
  color: #68A5E2;
  text-shadow: none;
  border-color: #68A5E2;
}
.pi-icon-box .pi-icon-box-icon,
.pi-icon-box-vertical .pi-icon-box-icon {
  color: #ccd6d9;
}
.pi-icon-box .pi-icon-box-icon.pi-icon-box-icon-base,
.pi-icon-box-vertical .pi-icon-box-icon.pi-icon-box-icon-base {
  color: #68A5E2;
}
.pi-icon-box .pi-icon-box-icon.pi-icon-box-icon-dark,
.pi-icon-box-vertical .pi-icon-box-icon.pi-icon-box-icon-dark {
  color: #373D46;
}
.pi-icon-box .pi-icon-box-icon.pi-icon-box-icon-white,
.pi-icon-box-vertical .pi-icon-box-icon.pi-icon-box-icon-white {
  color: #fff;
}
.pi-icon-box .pi-icon-box-icon-circle,
.pi-icon-box-vertical .pi-icon-box-icon-circle,
.pi-icon-box .pi-icon-box-icon-square,
.pi-icon-box-vertical .pi-icon-box-icon-square {
  background: #eef1f1;
  color: #B0B6B6;
}
.pi-icon-box .pi-icon-box-icon-circle.pi-icon-box-icon-base,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-base,
.pi-icon-box .pi-icon-box-icon-square.pi-icon-box-icon-base,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-base {
  background: #68A5E2;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
}
.pi-icon-box .pi-icon-box-icon-circle.pi-icon-box-icon-dark,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-dark,
.pi-icon-box .pi-icon-box-icon-square.pi-icon-box-icon-dark,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-dark {
  background: #2e343c;
  color: #68A5E2;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
}
.pi-icon-box .pi-icon-box-icon-circle.pi-icon-box-icon-white,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-white,
.pi-icon-box .pi-icon-box-icon-square.pi-icon-box-icon-white,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-white {
  background: #fff;
  color: #68A5E2;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pi-icon-box .pi-icon-box-icon-circle.pi-icon-box-icon-contur,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur,
.pi-icon-box .pi-icon-box-icon-square.pi-icon-box-icon-contur,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur {
  background: none;
  color: #ccd6d9;
  border-color: #ccd6d9;
}
.pi-icon-box .pi-icon-box-icon-circle.pi-icon-box-icon-contur-base,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur-base,
.pi-icon-box .pi-icon-box-icon-square.pi-icon-box-icon-contur-base,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur-base {
  background: none;
  color: #68A5E2;
  border-color: #68A5E2;
}
.pi-icon-box .pi-icon-box-icon-circle.pi-icon-box-icon-contur-dark,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur-dark,
.pi-icon-box .pi-icon-box-icon-square.pi-icon-box-icon-contur-dark,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur-dark {
  background: none;
  color: #373D46;
  border-color: #373D46;
}
.pi-icon-box .pi-icon-box-icon-circle.pi-icon-box-icon-contur-white,
.pi-icon-box-vertical .pi-icon-box-icon-circle.pi-icon-box-icon-contur-white,
.pi-icon-box .pi-icon-box-icon-square.pi-icon-box-icon-contur-white,
.pi-icon-box-vertical .pi-icon-box-icon-square.pi-icon-box-icon-contur-white {
  background: none;
  color: #fff;
  border-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-icon-box-hover:hover .pi-icon-box-icon {
  color: #68A5E2;
}
.pi-icon-box-hover:hover .pi-icon-box-icon.pi-icon-box-icon-base {
  color: #f65f37;
}
.pi-icon-box-hover:hover .pi-icon-box-icon.pi-icon-box-icon-dark {
  color: #68A5E2;
}
.pi-icon-box-hover:hover .pi-icon-box-icon.pi-icon-box-icon-white {
  color: #68A5E2;
}
.pi-icon-box-hover:hover .pi-icon-box-icon-circle,
.pi-icon-box-hover:hover .pi-icon-box-icon-square {
  background: #68A5E2;
  color: #fff;
}
.pi-icon-box-hover:hover .pi-icon-box-icon-circle.pi-icon-box-icon-base,
.pi-icon-box-hover:hover .pi-icon-box-icon-square.pi-icon-box-icon-base {
  background: #f65f37;
  color: #fff;
}
.pi-icon-box-hover:hover .pi-icon-box-icon-circle.pi-icon-box-icon-dark,
.pi-icon-box-hover:hover .pi-icon-box-icon-square.pi-icon-box-icon-dark,
.pi-icon-box-hover:hover .pi-icon-box-icon-circle.pi-icon-box-icon-white,
.pi-icon-box-hover:hover .pi-icon-box-icon-square.pi-icon-box-icon-white {
  background: #68A5E2;
  color: #fff;
}
.pi-icon-box-hover:hover .pi-icon-box-icon-circle.pi-icon-box-icon-contur,
.pi-icon-box-hover:hover .pi-icon-box-icon-square.pi-icon-box-icon-contur {
  background: none;
  color: #68A5E2;
  border-color: #68A5E2;
}
.pi-icon-box-hover:hover .pi-icon-box-icon-circle.pi-icon-box-icon-contur-base,
.pi-icon-box-hover:hover .pi-icon-box-icon-square.pi-icon-box-icon-contur-base {
  background: none;
  color: #f65f37;
  border-color: #f65f37;
}
.pi-icon-box-hover:hover .pi-icon-box-icon-circle.pi-icon-box-icon-contur-dark,
.pi-icon-box-hover:hover .pi-icon-box-icon-square.pi-icon-box-icon-contur-dark {
  background: none;
  color: #68A5E2;
  border-color: #68A5E2;
}
.pi-icon-box-hover:hover .pi-icon-box-icon-circle.pi-icon-box-icon-contur-white,
.pi-icon-box-hover:hover .pi-icon-box-icon-square.pi-icon-box-icon-contur-white {
  background: none;
  color: #68A5E2;
  border-color: #68A5E2;
}
.pi-list-icons-dot li:after,
.pi-list-icons-ok li:after,
.pi-list-icons-link li:after,
.pi-list-icons-help li:after {
  color: #68A5E2;
}
