/*ony for one corner, use this variable several time for other corners*/
.pi-tabs-navigation {
  margin-bottom: 0;
  padding-left: 0;
  border-bottom: 0;
  list-style: none;
}
.pi-tabs-navigation:before,
.pi-tabs-navigation:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.pi-tabs-navigation:after {
  clear: both;
}
.pi-tabs-navigation li {
  position: relative;
  display: block;
  float: left;
  margin: 0 0 -1px;
}
.pi-tabs-navigation li a {
  position: relative;
  display: block;
  margin-right: -1px;
  padding: 9px 20px 11px;
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
  z-index: 1;
  font-size: 14px;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  /*&:hover,
			&:focus {
				text-decoration: none;
			}*/
}
.pi-tabs-navigation li a i:first-child {
  margin-right: 8px;
}
.pi-tabs-navigation li a i.pi-tab-single-icon {
  margin: 0;
}
.pi-tabs-navigation li a img {
  max-width: none;
}
.pi-tabs-navigation li a,
.pi-tabs-navigation li a:hover,
.pi-tabs-navigation li a:focus {
  text-decoration: none;
  outline: none;
}
.pi-tabs-navigation li.pi-active a {
  z-index: 3;
}
.pi-tabs-navigation li.pi-active a:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  z-index: 1;
  height: 3px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-tabs-navigation li.pi-active a:focus {
  cursor: default;
}
.pi-tabs-navigation-justified {
  width: 100%;
  margin-bottom: -1px;
}
.pi-tabs-navigation-justified li {
  float: none;
  display: table-cell;
  width: 1%;
  text-align: center;
}
.pi-tabs-navigation-justified li:last-child a {
  margin-right: 0;
}
.pi-tabs-navigation-big li a {
  font-size: 14px;
  padding: 20px 30px;
}
.pi-tabs-content {
  position: relative;
  z-index: 2;
  padding: 30px 30px 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  overflow: hidden;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.pi-tabs-content > .pi-tab-pane {
  display: none;
}
.pi-tabs-content > .pi-active {
  display: block;
}
.pi-tabs-content-transparent {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  padding: 40px 0 0px;
  margin-bottom: 0;
}
.pi-tabs-vertical {
  overflow: hidden;
}
.pi-tabs-vertical .pi-tabs-navigation {
  float: left;
  width: 240px;
  margin-top: 0;
}
.pi-tabs-vertical .pi-tabs-navigation li {
  float: none;
}
.pi-tabs-vertical .pi-tabs-navigation li a {
  padding: 10px 20px 11px;
  margin: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover,
.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:focus {
  border-right-width: 0;
}
.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:after {
  top: -1px;
  left: -1px;
  right: auto;
  bottom: -1px;
  width: 3px;
  height: auto;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pi-tabs-vertical .pi-tabs-content {
  left: -1px;
  margin: 0 0 40px 239px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pi-tabs-vertical .pi-tabs-content-transparent {
  padding: 0 0 0 40px;
  border-top-width: 0;
  border-left-width: 1px;
}
.pi-responsive-lg.pi-tabs-navigation,
.pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation,
.pi-responsive-lg.pi-tabs-vertical .pi-tabs-content {
  width: auto;
  float: none;
}
.pi-responsive-lg .pi-tabs-content,
.pi-responsive-lg.pi-tabs-vertical .pi-tabs-content {
  margin-left: 0;
  min-height: 0 !important;
}
.pi-responsive-lg.pi-tabs-vertical .pi-tabs-content {
  left: 0;
}
.pi-responsive-lg.pi-tabs-vertical .pi-tabs-content-transparent {
  border-left-width: 0;
  padding: 40px 0;
  border-top-width: 1px;
}
.pi-responsive-lg.pi-tabs-navigation li,
.pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li {
  width: auto;
  float: none;
  display: block;
  text-align: left;
}
.pi-responsive-lg.pi-tabs-navigation li a,
.pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li a {
  margin-right: 0;
}
.pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li a {
  border-radius: 3px 3px 0 0;
}
.pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li a:after {
  width: auto;
  height: 3px;
  right: -1px;
  bottom: auto;
  border-radius: 3px 3px 0 0;
}
.pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li.pi-active a {
  border-right-width: 1px;
}
.pi-section-grey .pi-responsive-lg.pi-tabs-navigation li.pi-active a,
.pi-section-grey .pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
.pi-section-grey .pi-responsive-lg.pi-tabs-navigation li.pi-active a:hover,
.pi-section-grey .pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
  border-right-color: #d1d7d9;
  border-bottom-color: #d1d7d9;
}
.pi-section-white .pi-responsive-lg.pi-tabs-navigation li.pi-active a,
.pi-section-white .pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
.pi-section-white .pi-responsive-lg.pi-tabs-navigation li.pi-active a:hover,
.pi-section-white .pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
  border-right-color: #dde1e1;
  border-bottom-color: #dde1e1;
}
.pi-section-base .pi-responsive-lg.pi-tabs-navigation li.pi-active a,
.pi-section-base .pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
.pi-section-base .pi-responsive-lg.pi-tabs-navigation li.pi-active a:hover,
.pi-section-base .pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
  border-right-color: #3662d2;
  border-bottom-color: #3662d2;
}
.pi-section-dark .pi-responsive-lg.pi-tabs-navigation li.pi-active a,
.pi-section-dark .pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
.pi-section-dark .pi-responsive-lg.pi-tabs-navigation li.pi-active a:hover,
.pi-section-dark .pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
  border-right-color: #2c2d32;
  border-bottom-color: #2c2d32;
}
.pi-section-parallax .pi-responsive-lg.pi-tabs-navigation li.pi-active a,
.pi-section-parallax .pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
.pi-section-parallax .pi-responsive-lg.pi-tabs-navigation li.pi-active a:hover,
.pi-section-parallax .pi-responsive-lg.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
  border-right-color: #232428;
  border-bottom-color: #232428;
}
.pi-tabs-ac { text-align: center }
.pi-tabs-ac li { width:auto; display: inline-block !important; float: none !important }
@media screen and (max-width: 1119px) {
  .pi-responsive-md.pi-tabs-navigation,
  .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation,
  .pi-responsive-md.pi-tabs-vertical .pi-tabs-content {
    width: auto;
    float: none;
  }
  .pi-responsive-md .pi-tabs-content,
  .pi-responsive-md.pi-tabs-vertical .pi-tabs-content {
    margin-left: 0;
    min-height: 0 !important;
  }
  .pi-responsive-md.pi-tabs-vertical .pi-tabs-content {
    left: 0;
  }
  .pi-responsive-md.pi-tabs-vertical .pi-tabs-content-transparent {
    border-left-width: 0;
    padding: 40px 0;
    border-top-width: 1px;
  }
  .pi-responsive-md.pi-tabs-navigation li,
  .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li {
    width: auto;
    float: none;
    display: block;
    text-align: left;
  }
  .pi-responsive-md.pi-tabs-navigation li a,
  .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li a {
    margin-right: 0;
  }
  .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li a {
    border-radius: 3px 3px 0 0;
  }
  .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li a:after {
    width: auto;
    height: 3px;
    right: -1px;
    bottom: auto;
    border-radius: 3px 3px 0 0;
  }
  .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li.pi-active a {
    border-right-width: 1px;
  }
  .pi-section-grey .pi-responsive-md.pi-tabs-navigation li.pi-active a,
  .pi-section-grey .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-grey .pi-responsive-md.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-grey .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #d1d7d9;
    border-bottom-color: #d1d7d9;
  }
  .pi-section-white .pi-responsive-md.pi-tabs-navigation li.pi-active a,
  .pi-section-white .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-white .pi-responsive-md.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-white .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #dde1e1;
    border-bottom-color: #dde1e1;
  }
  .pi-section-base .pi-responsive-md.pi-tabs-navigation li.pi-active a,
  .pi-section-base .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-base .pi-responsive-md.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-base .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #3662d2;
    border-bottom-color: #3662d2;
  }
  .pi-section-dark .pi-responsive-md.pi-tabs-navigation li.pi-active a,
  .pi-section-dark .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-dark .pi-responsive-md.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-dark .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #2c2d32;
    border-bottom-color: #2c2d32;
  }
  .pi-section-parallax .pi-responsive-md.pi-tabs-navigation li.pi-active a,
  .pi-section-parallax .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-parallax .pi-responsive-md.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-parallax .pi-responsive-md.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #232428;
    border-bottom-color: #232428;
  }
  .pi-tabs-ac li { width:auto; display:inline-block !important; float: none !important }
}
@media screen and (max-width: 991px) {
  .pi-responsive-sm.pi-tabs-navigation,
  .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation,
  .pi-responsive-sm.pi-tabs-vertical .pi-tabs-content {
    width: auto;
    float: none;
  }
  .pi-responsive-sm .pi-tabs-content,
  .pi-responsive-sm.pi-tabs-vertical .pi-tabs-content {
    margin-left: 0;
    min-height: 0 !important;
  }
  .pi-responsive-sm.pi-tabs-vertical .pi-tabs-content {
    left: 0;
  }
  .pi-responsive-sm.pi-tabs-vertical .pi-tabs-content-transparent {
    border-left-width: 0;
    padding: 40px 0;
    border-top-width: 1px;
  }
  .pi-responsive-sm.pi-tabs-navigation li,
  .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li {
    width: auto;
    float: none;
    display: block;
    text-align: center;
  }
  .pi-responsive-sm.pi-tabs-navigation li a,
  .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li a {
    margin-right: 0;
  }
  .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li a {
    border-radius: 3px 3px 0 0;
  }
  .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li a:after {
    width: auto;
    height: 3px;
    right: -1px;
    bottom: auto;
    border-radius: 3px 3px 0 0;
  }
  .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li.pi-active a {
    border-right-width: 1px;
  }
  .pi-section-grey .pi-responsive-sm.pi-tabs-navigation li.pi-active a,
  .pi-section-grey .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-grey .pi-responsive-sm.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-grey .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #d1d7d9;
    border-bottom-color: #d1d7d9;
  }
  .pi-section-white .pi-responsive-sm.pi-tabs-navigation li.pi-active a,
  .pi-section-white .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-white .pi-responsive-sm.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-white .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #dde1e1;
    border-bottom-color: #dde1e1;
  }
  .pi-section-base .pi-responsive-sm.pi-tabs-navigation li.pi-active a,
  .pi-section-base .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-base .pi-responsive-sm.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-base .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #3662d2;
    border-bottom-color: #3662d2;
  }
  .pi-section-dark .pi-responsive-sm.pi-tabs-navigation li.pi-active a,
  .pi-section-dark .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-dark .pi-responsive-sm.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-dark .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #2c2d32;
    border-bottom-color: #2c2d32;
  }
  .pi-section-parallax .pi-responsive-sm.pi-tabs-navigation li.pi-active a,
  .pi-section-parallax .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-parallax .pi-responsive-sm.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-parallax .pi-responsive-sm.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #232428;
    border-bottom-color: #232428;
  }
  .pi-tabs-ac li { width:180px; display:inline-block !important; float: none !important }
}
@media screen and (max-width: 767px) {
  .pi-responsive-xs.pi-tabs-navigation,
  .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation,
  .pi-responsive-xs.pi-tabs-vertical .pi-tabs-content {
    width: auto;
    float: none;
  }
  .pi-responsive-xs .pi-tabs-content,
  .pi-responsive-xs.pi-tabs-vertical .pi-tabs-content {
    margin-left: 0;
    min-height: 0 !important;
  }
  .pi-responsive-xs.pi-tabs-vertical .pi-tabs-content {
    left: 0;
  }
  .pi-responsive-xs.pi-tabs-vertical .pi-tabs-content-transparent {
    border-left-width: 0;
    padding: 40px 0;
    border-top-width: 1px;
  }
  .pi-responsive-xs.pi-tabs-navigation li,
  .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li {
    width: auto;
    float: none;
    display: block;
    text-align: left;
  }
  .pi-responsive-xs.pi-tabs-navigation li a,
  .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li a {
    margin-right: 0;
  }
  .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li a {
    border-radius: 3px 3px 0 0;
  }
  .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li a:after {
    width: auto;
    height: 3px;
    right: -1px;
    bottom: auto;
    border-radius: 3px 3px 0 0;
  }
  .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a {
    border-right-width: 1px;
  }
  .pi-section-grey .pi-responsive-xs.pi-tabs-navigation li.pi-active a,
  .pi-section-grey .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-grey .pi-responsive-xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-grey .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #d1d7d9;
    border-bottom-color: #d1d7d9;
  }
  .pi-section-white .pi-responsive-xs.pi-tabs-navigation li.pi-active a,
  .pi-section-white .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-white .pi-responsive-xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-white .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #dde1e1;
    border-bottom-color: #dde1e1;
  }
  .pi-section-base .pi-responsive-xs.pi-tabs-navigation li.pi-active a,
  .pi-section-base .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-base .pi-responsive-xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-base .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #3662d2;
    border-bottom-color: #3662d2;
  }
  .pi-section-dark .pi-responsive-xs.pi-tabs-navigation li.pi-active a,
  .pi-section-dark .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-dark .pi-responsive-xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-dark .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #2c2d32;
    border-bottom-color: #2c2d32;
  }
  .pi-section-parallax .pi-responsive-xs.pi-tabs-navigation li.pi-active a,
  .pi-section-parallax .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-parallax .pi-responsive-xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-parallax .pi-responsive-xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #232428;
    border-bottom-color: #232428;
  }
  .pi-tabs-ac li { width:auto; display:block !important; float: none !important }
}
@media screen and (max-width: 479px) {
  .pi-responsive-2xs.pi-tabs-navigation,
  .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation,
  .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-content {
    width: auto;
    float: none;
  }
  .pi-responsive-2xs .pi-tabs-content,
  .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-content {
    margin-left: 0;
    min-height: 0 !important;
  }
  .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-content {
    left: 0;
  }
  .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-content-transparent {
    border-left-width: 0;
    padding: 40px 0;
    border-top-width: 1px;
  }
  .pi-responsive-2xs.pi-tabs-navigation li,
  .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li {
    width: auto;
    float: none;
    display: block;
    text-align: left;
  }
  .pi-responsive-2xs.pi-tabs-navigation li a,
  .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li a {
    margin-right: 0;
  }
  .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li a {
    border-radius: 3px 3px 0 0;
  }
  .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li a:after {
    width: auto;
    height: 3px;
    right: -1px;
    bottom: auto;
    border-radius: 3px 3px 0 0;
  }
  .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a {
    border-right-width: 1px;
  }
  .pi-section-grey .pi-responsive-2xs.pi-tabs-navigation li.pi-active a,
  .pi-section-grey .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-grey .pi-responsive-2xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-grey .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #d1d7d9;
    border-bottom-color: #d1d7d9;
  }
  .pi-section-white .pi-responsive-2xs.pi-tabs-navigation li.pi-active a,
  .pi-section-white .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-white .pi-responsive-2xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-white .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #dde1e1;
    border-bottom-color: #dde1e1;
  }
  .pi-section-base .pi-responsive-2xs.pi-tabs-navigation li.pi-active a,
  .pi-section-base .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-base .pi-responsive-2xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-base .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #3662d2;
    border-bottom-color: #3662d2;
  }
  .pi-section-dark .pi-responsive-2xs.pi-tabs-navigation li.pi-active a,
  .pi-section-dark .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-dark .pi-responsive-2xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-dark .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #2c2d32;
    border-bottom-color: #2c2d32;
  }
  .pi-section-parallax .pi-responsive-2xs.pi-tabs-navigation li.pi-active a,
  .pi-section-parallax .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-parallax .pi-responsive-2xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-parallax .pi-responsive-2xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #232428;
    border-bottom-color: #232428;
  }
  .pi-tabs-ac li { width:auto; display:block !important; float: none !important }
}
@media screen and (max-width: 319px) {
  .pi-responsive-3xs.pi-tabs-navigation,
  .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation,
  .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-content {
    width: auto;
    float: none;
  }
  .pi-responsive-3xs .pi-tabs-content,
  .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-content {
    margin-left: 0;
    min-height: 0 !important;
  }
  .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-content {
    left: 0;
  }
  .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-content-transparent {
    border-left-width: 0;
    padding: 40px 0;
    border-top-width: 1px;
  }
  .pi-responsive-3xs.pi-tabs-navigation li,
  .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li {
    width: auto;
    float: none;
    display: block;
    text-align: left;
  }
  .pi-responsive-3xs.pi-tabs-navigation li a,
  .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li a {
    margin-right: 0;
  }
  .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li a {
    border-radius: 3px 3px 0 0;
  }
  .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li a:after {
    width: auto;
    height: 3px;
    right: -1px;
    bottom: auto;
    border-radius: 3px 3px 0 0;
  }
  .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a {
    border-right-width: 1px;
  }
  .pi-section-grey .pi-responsive-3xs.pi-tabs-navigation li.pi-active a,
  .pi-section-grey .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-grey .pi-responsive-3xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-grey .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #d1d7d9;
    border-bottom-color: #d1d7d9;
  }
  .pi-section-white .pi-responsive-3xs.pi-tabs-navigation li.pi-active a,
  .pi-section-white .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-white .pi-responsive-3xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-white .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #dde1e1;
    border-bottom-color: #dde1e1;
  }
  .pi-section-base .pi-responsive-3xs.pi-tabs-navigation li.pi-active a,
  .pi-section-base .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-base .pi-responsive-3xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-base .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #3662d2;
    border-bottom-color: #3662d2;
  }
  .pi-section-dark .pi-responsive-3xs.pi-tabs-navigation li.pi-active a,
  .pi-section-dark .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-dark .pi-responsive-3xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-dark .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #2c2d32;
    border-bottom-color: #2c2d32;
  }
  .pi-section-parallax .pi-responsive-3xs.pi-tabs-navigation li.pi-active a,
  .pi-section-parallax .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
  .pi-section-parallax .pi-responsive-3xs.pi-tabs-navigation li.pi-active a:hover,
  .pi-section-parallax .pi-responsive-3xs.pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover {
    border-right-color: #232428;
    border-bottom-color: #232428;
  }
  .pi-tabs-ac li { width:auto; display:block !important; float: none !important }
}

/*custom style*/
.pi-section-grey .pi-tabs-navigation li a {
  color: #70767a;
  background: #f3f6f6;
  border-color: #e5e8e8;
}
.pi-section-grey .pi-tabs-navigation li a:hover {
  background: #f8fafa;
  color: #1c202a;
}
.pi-section-grey .pi-tabs-navigation li.pi-active a,
.pi-section-grey .pi-tabs-navigation li.pi-active a:hover,
.pi-section-grey .pi-tabs-navigation li.pi-active a:focus {
  background: #f8f9fb;
  border-color: #e5e8e8;
  border-bottom-color: #f8f9fb;
  color: #1c202a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-section-grey .pi-tabs-navigation li.pi-active a:after {
  background: #609ddb;
}
.pi-section-grey .pi-tabs-navigation-transparent li.pi-active a,
.pi-section-grey .pi-tabs-navigation-transparent li.pi-active a:hover,
.pi-section-grey .pi-tabs-navigation-transparent li.pi-active a:focus {
  background: none;
  border-bottom-color: none;
}
.pi-section-grey .pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
.pi-section-grey .pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover,
.pi-section-grey .pi-tabs-vertical .pi-tabs-navigation li.pi-active a:focus {
  border-right-color: #f8f9fb;
  border-bottom-color: #e5e8e8;
}
.pi-section-grey .pi-tabs-content {
  background: #f8f9fb;
  border-color: #e5e8e8;
}
.pi-section-grey .pi-tabs-content-shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
}
.pi-section-grey .pi-tabs-content-transparent {
  background: none;
}
.pi-section-white .pi-tabs-navigation li a {
  color: #70757a;
  background: #f8fafa;
  border-color: #e5eaea;
}
.pi-section-white .pi-tabs-navigation li a:hover {
  background: #ffffff;
  color: #2e343c;
}
.pi-section-white .pi-tabs-navigation li.pi-active a,
.pi-section-white .pi-tabs-navigation li.pi-active a:hover,
.pi-section-white .pi-tabs-navigation li.pi-active a:focus {
  background: #ffffff;
  border-color: #e5eaea;
  border-bottom-color: #ffffff;
  color: #2e343c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-section-white .pi-tabs-navigation li.pi-active a:after {
  background: #0070ac;
}
.pi-section-white .pi-tabs-navigation-transparent li.pi-active a,
.pi-section-white .pi-tabs-navigation-transparent li.pi-active a:hover,
.pi-section-white .pi-tabs-navigation-transparent li.pi-active a:focus {
  background: none;
  border-bottom-color: none;
}
.pi-section-white .pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
.pi-section-white .pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover,
.pi-section-white .pi-tabs-vertical .pi-tabs-navigation li.pi-active a:focus {
  border-right-color: #ffffff;
  border-bottom-color: #e5eaea;
}
.pi-section-white .pi-tabs-content {
  background: #ffffff;
  border-color: #e5eaea;
}
.pi-section-white .pi-tabs-content-shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
}
.pi-section-white .pi-tabs-content-transparent {
  background: none;
}
.pi-section-base .pi-tabs-navigation li a {
  color: #ffffff;
  background: #609ddb;
  border-color: #78aee2;
}
.pi-section-base .pi-tabs-navigation li a:hover {
  background: #609ddb;
  color: #ffffff;
}
.pi-section-base .pi-tabs-navigation li.pi-active a,
.pi-section-base .pi-tabs-navigation li.pi-active a:hover,
.pi-section-base .pi-tabs-navigation li.pi-active a:focus {
  background: #5993ce;
  border-color: #78aee2;
  border-bottom-color: #5993ce;
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-section-base .pi-tabs-navigation li.pi-active a:after {
  background: #ffffff;
}
.pi-section-base .pi-tabs-navigation-transparent li.pi-active a,
.pi-section-base .pi-tabs-navigation-transparent li.pi-active a:hover,
.pi-section-base .pi-tabs-navigation-transparent li.pi-active a:focus {
  background: #548cc5;
  border-bottom-color: #548cc5;
}
.pi-section-base .pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
.pi-section-base .pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover,
.pi-section-base .pi-tabs-vertical .pi-tabs-navigation li.pi-active a:focus {
  border-right-color: #5993ce;
  border-bottom-color: #78aee2;
}
.pi-section-base .pi-tabs-content {
  background: #5993ce;
  border-color: #78aee2;
}
.pi-section-base .pi-tabs-content-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-section-base .pi-tabs-content-transparent {
  background: #548cc5;
}
.pi-section-dark .pi-tabs-navigation li a {
  color: #808d97;
  background: #262c32;
  border-color: #32383f;
}
.pi-section-dark .pi-tabs-navigation li a:hover {
  background: #2a3037;
  color: #c6ccd0;
}
.pi-section-dark .pi-tabs-navigation li.pi-active a,
.pi-section-dark .pi-tabs-navigation li.pi-active a:hover,
.pi-section-dark .pi-tabs-navigation li.pi-active a:focus {
  background: #2a3037;
  border-color: #32383f;
  border-bottom-color: #2a3037;
  color: #c6ccd0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-section-dark .pi-tabs-navigation li.pi-active a:after {
  background: #609ddb;
}
.pi-section-dark .pi-tabs-navigation-transparent li.pi-active a,
.pi-section-dark .pi-tabs-navigation-transparent li.pi-active a:hover,
.pi-section-dark .pi-tabs-navigation-transparent li.pi-active a:focus {
  background: #21252b;
  border-bottom-color: #21252b;
}
.pi-section-dark .pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
.pi-section-dark .pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover,
.pi-section-dark .pi-tabs-vertical .pi-tabs-navigation li.pi-active a:focus {
  border-right-color: #2a3037;
  border-bottom-color: #32383f;
}
.pi-section-dark .pi-tabs-content {
  background: #2a3037;
  border-color: #32383f;
}
.pi-section-dark .pi-tabs-content-shadow {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pi-section-dark .pi-tabs-content-transparent {
  background: #21252b;
}
.pi-section-parallax .pi-tabs-navigation li a {
  color: #9797a1;
  background: #191a1c;
  border-color: #232428;
}
.pi-section-parallax .pi-tabs-navigation li a:hover {
  background: #1c1d1f;
  color: #cbcbd0;
}
.pi-section-parallax .pi-tabs-navigation li.pi-active a,
.pi-section-parallax .pi-tabs-navigation li.pi-active a:hover,
.pi-section-parallax .pi-tabs-navigation li.pi-active a:focus {
  background: #1c1d1f;
  border-color: #232428;
  border-bottom-color: #1c1d1f;
  color: #cbcbd0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-section-parallax .pi-tabs-navigation li.pi-active a:after {
  background: #609ddb;
}
.pi-section-parallax .pi-tabs-navigation-transparent li.pi-active a,
.pi-section-parallax .pi-tabs-navigation-transparent li.pi-active a:hover,
.pi-section-parallax .pi-tabs-navigation-transparent li.pi-active a:focus {
  background: #17181a;
  border-bottom-color: #17181a;
}
.pi-section-parallax .pi-tabs-vertical .pi-tabs-navigation li.pi-active a,
.pi-section-parallax .pi-tabs-vertical .pi-tabs-navigation li.pi-active a:hover,
.pi-section-parallax .pi-tabs-vertical .pi-tabs-navigation li.pi-active a:focus {
  border-right-color: #1c1d1f;
  border-bottom-color: #232428;
}
.pi-section-parallax .pi-tabs-content {
  background: #1c1d1f;
  border-color: #232428;
}
.pi-section-parallax .pi-tabs-content-shadow {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.pi-section-parallax .pi-tabs-content-transparent {
  background: #17181a;
}
