/*ony for one corner, use this variable several time for other corners*/
.btn {
  display: inline-block;
  padding: 9px 14px 9px;
  border: 1px solid transparent;
  line-height: 18px;
  font-size: 14px;
  vertical-align: middle;
  text-align: left;
  outline: none;
  cursor: pointer;
  white-space: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn img {
  width: 16px;
  margin-top: -2px;
}
.btn:focus {
  ountline: none;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
}
.btn.pi-btn-icon-big {
  line-height: 16px;
  font-size: 18px;
}
.pi-btn-icon-only {
  padding-left: 18px;
  padding-right: 18px;
}
.pi-btn-icon-only i,
.pi-btn-icon-only img {
  margin: 0;
}
.pi-btn-small {
  font-size: 13px;
  line-height: 16px;
  padding: 5px 9px 6px;
}
.pi-btn-small i,
.pi-btn-small img {
  margin: 0;
}
.pi-btn-small img {
  width: 12px;
}
.pi-btn-big {
  font-size: 16px;
  line-height: 20px;
  padding: 12px 17px 12px;
}
.pi-btn-big img {
  width: 20px;
}
.pi-btn-big.pi-btn-icon-big {
  line-height: 18px;
  font-size: 20px;
}
.pi-btn-bigger {
  font-size: 18px;
  line-height: 20px;
  padding: 18px 22px 18px;
}
.pi-btn-bigger i,
.pi-btn-bigger img {
  margin-left: 0px;
}
.pi-btn-bigger img {
  width: 20px;
}
.pi-btn-big-paddings {
  padding-right: 40px;
  padding-left: 40px;
}
.pi-btn-promo {
  margin: 4px 0 20px 20px;
}
.pi-mobile-menu-toggler {
  font-size: 20px;
  padding: 8px 9px;
}
.pi-btn-wide {
  width: 100%;
  text-align: center;
}
.pi-btn-tag {
  margin: 0 6px 9px 0;
}
.pi-header-block .pi-btn {
  margin-bottom: 0;
}
.pi-section-header-sm .pi-btn {
  margin-top: 6px;
  padding: 8px 13px 8px;
}
.pi-section-header-sm .pi-mobile-menu-toggler {
  margin-top: 5px;
  font-size: 20px;
  padding: 8px 9px;
}
.pi-section-header-sm .pi-btn-small {
  margin-top: 9.5px;
}
.pi-section-header-sm .pi-btn-big {
  margin-top: 1px;
}
.pi-section-header-md .pi-btn {
  margin-top: 16px;
}
.pi-section-header-md .pi-btn-small {
  margin-top: 20.5px;
}
.pi-section-header-md .pi-btn-big {
  margin-top: 12px;
}
.pi-section-header-lg .pi-btn {
  margin-top: 31px;
}
.pi-section-header-lg .pi-btn-small {
  margin-top: 35.5px;
}
.pi-section-header-lg .pi-btn-big {
  margin-top: 27px;
}
.pi-btn {
  background: #f4f6f6;
  border: 1px solid #e3e9e9;
  color: #586266 !important;
  -webkit-box-shadow: inset 0 1px 0 #f8fafa;
  -moz-box-shadow: inset 0 1px 0 #f8fafa;
  box-shadow: inset 0 1px 0 #f8fafa;
  text-shadow: 0 1px 0 #fff;
}
.pi-btn:hover {
  background: #a5b3b4;
  border: 1px solid #9eadae;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #aebbbc;
  -moz-box-shadow: inset 0 1px 0 #aebbbc;
  box-shadow: inset 0 1px 0 #aebbbc;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn.pi-btn-no-border {
  border-color: #f4f6f6;
  border-top-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn.pi-btn-no-border:hover {
  border-color: #a5b3b4;
  border-top-color: #bec9c9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-grey {
  background: #a5b3b4;
  border: 1px solid #9eadae;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #aab7b8;
  -moz-box-shadow: inset 0 1px 0 #aab7b8;
  box-shadow: inset 0 1px 0 #aab7b8;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-grey:hover {
  background: #889899;
  border: 1px solid #809192;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #8d9d9e;
  -moz-box-shadow: inset 0 1px 0 #8d9d9e;
  box-shadow: inset 0 1px 0 #8d9d9e;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-grey.pi-btn-no-border {
  border-color: #a5b3b4;
  border-top-color: #bec9c9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-grey.pi-btn-no-border:hover {
  border-color: #889899;
  border-top-color: #a2b1b1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-dark {
  background: #2d323a;
  border: 1px solid #24282e;
  color: #c9d1d6 !important;
  -webkit-box-shadow: inset 0 1px 0 #363c46;
  -moz-box-shadow: inset 0 1px 0 #363c46;
  box-shadow: inset 0 1px 0 #363c46;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-dark:hover {
  background: #384147;
  border: 1px solid #32383f;
  color: #e8edef !important;
  -webkit-box-shadow: inset 0 1px 0 #424c54;
  -moz-box-shadow: inset 0 1px 0 #424c54;
  box-shadow: inset 0 1px 0 #424c54;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-dark.pi-btn-no-border {
  border-color: #2d323a;
  border-top-color: #393f47;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-dark.pi-btn-no-border:hover {
  border-color: #384147;
  border-top-color: #485158;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-dark-2 {
  background: #384147;
  border: 1px solid #32383f;
  color: #c9d1d6 !important;
  -webkit-box-shadow: inset 0 1px 0 #424c54;
  -moz-box-shadow: inset 0 1px 0 #424c54;
  box-shadow: inset 0 1px 0 #424c54;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-dark-2:hover {
  background: #444e55;
  border: 1px solid #3d454c;
  color: #e3e9ed !important;
  -webkit-box-shadow: inset 0 1px 0 #4a555d;
  -moz-box-shadow: inset 0 1px 0 #4a555d;
  box-shadow: inset 0 1px 0 #4a555d;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-dark-2.pi-btn-no-border {
  border-color: #384147;
  border-top-color: #485158;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-dark-2.pi-btn-no-border:hover {
  border-color: #444e55;
  border-top-color: #576169;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-blue {
  background: #609ddb;
  border: 1px solid #5491d5;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #6aa7df;
  -moz-box-shadow: inset 0 1px 0 #6aa7df;
  box-shadow: inset 0 1px 0 #6aa7df;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-blue:hover {
  background: #487ab9;
  border: 1px solid #4070b1;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #4f86c0;
  -moz-box-shadow: inset 0 1px 0 #4f86c0;
  box-shadow: inset 0 1px 0 #4f86c0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-blue.pi-btn-no-border {
  border-color: #609ddb;
  border-top-color: #7eb3e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-blue.pi-btn-no-border:hover {
  border-color: #487ab9;
  border-top-color: #6e9acc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-turquoise {
  background: #0dc0c0;
  border: 1px solid #09b1b9;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #0fc8c8;
  -moz-box-shadow: inset 0 1px 0 #0fc8c8;
  box-shadow: inset 0 1px 0 #0fc8c8;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-turquoise:hover {
  background: #009ca8;
  border: 1px solid #0092a0;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #00a6b1;
  -moz-box-shadow: inset 0 1px 0 #00a6b1;
  box-shadow: inset 0 1px 0 #00a6b1;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-turquoise.pi-btn-no-border {
  border-color: #0dc0c0;
  border-top-color: #6ed9d9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-turquoise.pi-btn-no-border:hover {
  border-color: #009ca8;
  border-top-color: #00b6bf;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-green {
  background: #18ba60;
  border: 1px solid #10a95b;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #1bc26c;
  -moz-box-shadow: inset 0 1px 0 #1bc26c;
  box-shadow: inset 0 1px 0 #1bc26c;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-green:hover {
  background: #099555;
  border: 1px solid #088b4c;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #0aa05e;
  -moz-box-shadow: inset 0 1px 0 #0aa05e;
  box-shadow: inset 0 1px 0 #0aa05e;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-green.pi-btn-no-border {
  border-color: #18ba60;
  border-top-color: #22d686;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-green.pi-btn-no-border:hover {
  border-color: #099555;
  border-top-color: #0cb56f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-lime {
  background: #86ba41;
  border: 1px solid #79b037;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #92c148;
  -moz-box-shadow: inset 0 1px 0 #92c148;
  box-shadow: inset 0 1px 0 #92c148;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-lime:hover {
  background: #639a33;
  border: 1px solid #59902c;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #6da438;
  -moz-box-shadow: inset 0 1px 0 #6da438;
  box-shadow: inset 0 1px 0 #6da438;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-lime.pi-btn-no-border {
  border-color: #86ba41;
  border-top-color: #a5cd67;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-lime.pi-btn-no-border:hover {
  border-color: #639a33;
  border-top-color: #81b053;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-red {
  background: #e86343;
  border: 1px solid #dd5437;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #eb6f4b;
  -moz-box-shadow: inset 0 1px 0 #eb6f4b;
  box-shadow: inset 0 1px 0 #eb6f4b;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-red:hover {
  background: #d34a35;
  border: 1px solid #c63d2c;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #d8533b;
  -moz-box-shadow: inset 0 1px 0 #d8533b;
  box-shadow: inset 0 1px 0 #d8533b;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-red.pi-btn-no-border {
  border-color: #e86343;
  border-top-color: #ed7e60;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-red.pi-btn-no-border:hover {
  border-color: #d34a35;
  border-top-color: #db634e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-orange {
  background: #f58b3c;
  border: 1px solid #e97931;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #f69c45;
  -moz-box-shadow: inset 0 1px 0 #f69c45;
  box-shadow: inset 0 1px 0 #f69c45;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-orange:hover {
  background: #e46526;
  border: 1px solid #d6561f;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #e8742c;
  -moz-box-shadow: inset 0 1px 0 #e8742c;
  box-shadow: inset 0 1px 0 #e8742c;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-orange.pi-btn-no-border {
  border-color: #f58b3c;
  border-top-color: #f8a862;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-orange.pi-btn-no-border:hover {
  border-color: #e46526;
  border-top-color: #eb8344;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-brown {
  background: #8f5340;
  border: 1px solid #824836;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #9a5b47;
  -moz-box-shadow: inset 0 1px 0 #9a5b47;
  box-shadow: inset 0 1px 0 #9a5b47;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-brown:hover {
  background: #773b2d;
  border: 1px solid #6a3226;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #834132;
  -moz-box-shadow: inset 0 1px 0 #834132;
  box-shadow: inset 0 1px 0 #834132;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-brown.pi-btn-no-border {
  border-color: #8f5340;
  border-top-color: #955f4d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-brown.pi-btn-no-border:hover {
  border-color: #773b2d;
  border-top-color: #854b3d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-purple {
  background: #8463a9;
  border: 1px solid #77579e;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #8e6fb1;
  -moz-box-shadow: inset 0 1px 0 #8e6fb1;
  box-shadow: inset 0 1px 0 #8e6fb1;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-purple:hover {
  background: #694b8b;
  border: 1px solid #5d407e;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #755895;
  -moz-box-shadow: inset 0 1px 0 #755895;
  box-shadow: inset 0 1px 0 #755895;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-purple.pi-btn-no-border {
  border-color: #8463a9;
  border-top-color: #9375b5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-purple.pi-btn-no-border:hover {
  border-color: #694b8b;
  border-top-color: #7e5aa2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-yellow {
  background: #FCD746;
  border: 1px solid #f2c02b;
  color: #68422C !important;
  -webkit-box-shadow: inset 0 1px 0 #fde473;
  -moz-box-shadow: inset 0 1px 0 #fde473;
  box-shadow: inset 0 1px 0 #fde473;
  text-shadow: 0 1px 0 #ffed8c;
}
.pi-btn-yellow:hover {
  background: #fdbe3b;
  border: 1px solid #f4a520;
  color: #68422C !important;
  -webkit-box-shadow: inset 0 1px 0 #fcd069, 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 #fcd069, 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 #fcd069, 0 1px 3px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 #fddb83;
}
.pi-btn-yellow.pi-btn-no-border {
  border-color: #FCD746;
  border-top-color: #ffeb82;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-yellow.pi-btn-no-border:hover {
  border-color: #fdbe3b;
  border-top-color: #ffdd71;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-base {
  background: #609ddb;
  border: 1px solid #5491d5;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #6aa7df;
  -moz-box-shadow: inset 0 1px 0 #6aa7df;
  box-shadow: inset 0 1px 0 #6aa7df;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-base:hover {
  background: #487ab9;
  border: 1px solid #4070b1;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #4f86c0;
  -moz-box-shadow: inset 0 1px 0 #4f86c0;
  box-shadow: inset 0 1px 0 #4f86c0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-base.pi-btn-no-border {
  border-color: #609ddb;
  border-top-color: #7eb3e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-base.pi-btn-no-border:hover {
  border-color: #487ab9;
  border-top-color: #6e9acc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-base-2 {
  background: #3f72b3;
  border: 1px solid #3869ab;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #447bb9;
  -moz-box-shadow: inset 0 1px 0 #447bb9;
  box-shadow: inset 0 1px 0 #447bb9;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-base-2:hover {
  background: #365c9a;
  border: 1px solid #2f5390;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #3a63a2;
  -moz-box-shadow: inset 0 1px 0 #3a63a2;
  box-shadow: inset 0 1px 0 #3a63a2;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-btn-base-2.pi-btn-no-border {
  border-color: #3f72b3;
  border-top-color: #5c8bc3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-base-2.pi-btn-no-border:hover {
  border-color: #365c9a;
  border-top-color: #5378ae;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-btn-contur {
  background: none;
  border: 1px solid #D4DDE2;
  color: #535C61 !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.pi-btn-contur:hover {
  background: none;
  border: 1px solid #00aab3;
  color: #009FAD !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.pi-btn-contur-for-dark {
  background: none;
  border: 1px solid #576166;
  color: #97a8b1 !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.pi-btn-contur-for-dark:hover {
  background: none;
  border: 1px solid #00aab3;
  color: #009FAD !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.pi-btn-contur-2 {
  background: none;
  border: 1px solid #fff;
  color: #fff !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.pi-btn-contur-2:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #000 !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.pi-btn-contur-for-base {
  background: none;
  border: 1px solid rgba(250, 250, 250, 0.7);
  color: #fff !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.pi-btn-contur-for-base:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #2D383D !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.pi-btn-contur-3 {
  background: rgba(250, 250, 250, 0.06);
  border: 1px solid rgba(250, 250, 250, 0.15);
  color: rgba(250, 250, 250, 0.9) !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.pi-btn-contur-3:hover {
  background: rgba(250, 250, 250, 0.05);
  border: 1px solid rgba(250, 250, 250, 0.8);
  color: #fff !important;
  -webkit-box-shadow: 0 0px 12px rgba(250, 250, 250, 0.15);
  -moz-box-shadow: 0 0px 12px rgba(250, 250, 250, 0.15);
  box-shadow: 0 0px 12px rgba(250, 250, 250, 0.15);
}
